body{
  margin: 0px;
  padding: 0px;
  font-family: arial, tahoma;
  font-size: 12px;
  color: #393939;
  background: url(../images/back-rep.gif);
}
.wrap{
  font-size: 0px;
  width: 958px;
  margin: auto;
  position: relative;
}
.social a,
.inline{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.company{
  width: 500px;
}
.company-logo{
  background-repeat: none;
  background-position: center center;
  width: 115px;
  height: 115px;
  vertical-align: middle;
}
.company-name{
  color: #212121;
  font-size: 30px;
  vertical-align: middle;
  padding-left: 10px;
}
.social{
  height: 46px;
  font-size: 0px;
  text-align: right;
  vertical-align: bottom;
}
.social a{
  background: url(../images/social.png);
  width: 30px;
  height: 30px;
  margin: 0px 2px;
}
.social .rss{ background-position: 0px 0px; }
.social .twitter{ background-position: -33px 0px; }
.social .facebook{ background-position: -67px 0px; }
.social .rss:hover { background-position: -133px 0px; }
.social .twitter:hover { background-position: -166px 0px; }
.social .facebook:hover { background-position: -200px 0px; }

.menu{
  width: 268px;
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 10;
}
.menu .top{
  width: 268px;
  height: 11px;
  background: url(../images/menu-top.png);
}
.menu .main{
  width: 268px;
  background: url(../images/menu-rep.png);
  padding: 5px 0px 20px;
}
.menu .bottom{
  width: 268px;
  height: 11px;
  background: url(../images/menu-bottom.png);
}
.menu a{
  font-size: 16px;
  font-weight: bold;
  padding: 9px 0px;
  padding-left: 10px;
  margin: 0px 20px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px #71b1f3 solid; /* change */
  display: block;
  height: 23px;
}
.menu a.selected{
  padding-left: 30px;
  background: url(../images/selected.png) 8px 12px no-repeat;
}
.head{
  width: 958px;
}
.head .top{
  width: 958px;
  height: 26px;
  background: url(../images/banner-top.png);
}
.head .main{
  width: 958px;
  height: 398px;
  background: url(../images/banner-rep.png);
  position: relative;
}
.head .image{
  width: 900px;
  height: 400px;
  background: url(../images/image.jpg);
  margin: auto;
  top: -2px;
  left: 29px;
  position: absolute;
}
.container{
  background: url(../images/main-rep.png) top repeat-x;
  margin-top: -20px;
  color: #393939;
  margin-bottom: 25px;
  z-index: 20;
  position:relative; 
}
.container .wrap{
  padding-top: 40px;
}
.container .panel{
  font-size: 12px;
  width: 305px;
  padding: 20px 5px 20px 10px;
  vertical-align: top;
}
.container .main{
  font-size: 12px;
  width: 615px;
  padding: 20px 5px;
  vertical-align: top;
  background: url(../images/vertical-border.jpg) left repeat-y;
}
.footer{
  background: #313c47; /* change */
  border-top: 1px #313c47 solid;  /*change*/
}
.footer .main{
  padding: 20px 0px 30px;
  font-size: 12px;
  width: 940px;
  margin: auto;
  color: #fff;
}
.footer h1,
.footer h2{
  color: #4492e2; /*change*/
}
.footer h3,
.footer h4,
.footer h5{
  color: #6494c5; /*change*/
}

/* common-> */
a{ color: #3c86d1; cursor: pointer; } /*change*/
a img{ border: none; }
h1, h2, h3, h4, h5{
  color: #487aac; /*change*/
  font-size: 14px;
  margin: 0px;
  padding: 5px 0px 3px;
}
h1 a, h2 a, h3 a{ color: #3c86d1; text-decoration: none; } /*change*/
h1{ font-size: 20px; }
h2{
  font-size: 18px;
  color: #33587c; /*change*/
}
h3{
  font-size: 16px;
  padding: 5px 0px 3px;
  color: #33587c; /*change*/
}
p{
  margin: 0px;
  padding: 5px 0px;
}
.cliiz-blog .cliiz-detail{
  position: relative;
  height: 100px;
  width: 480px;
}
.cliiz-blog .cliiz-info{
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
}
.cliiz-blog .cliiz-post{
  border-bottom: #33587c 1px dashed; /*change*/
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 10px;
}
.cliiz-blog .cliiz-date{
  color: #3c86d1; /*change*/
}
.cliiz-blog .cliiz-more{
  margin-top: 3px;
  margin-left: 10px; 
}
div.cliiz-module div.cliiz-posts div.cliiz-post{
  width: 335px;
}
div.cliiz-module div.cliiz-posts div.cliiz-detail{
  width: 265px;
  padding: 0px 0px 10px;
}
.footer div.cliiz-module div.cliiz-posts div.cliiz-post{
  width: 298px;
}
.footer div.cliiz-module div.cliiz-posts div.cliiz-detail{
  width: 233px;
}
/* <-common */

