<div class='clz-middle clz-panel fclz-panel clz-setting-comp'>
  <div class='clz-left'>
    <div class='clz-main clz-system-setting'>
      To change setting:<br/><br/>
      1.first publish your changes<br/>
      2.then <a href='/panel/profile'>click here</a>!
    </div>
  </div>
</div>
