<div class='clz-middle clz-panel fclz-panel clz-features-comp'>
  <div class='clz-left'>
    <div class='clz-main'>
      <div class='clz-modules fclz-modules'>
        <div class='clz-module-box fclz-module-box' style='display:none;' loop='true' object='component' uname='%#uname%' name='%#name%' >
          <div class='clz-top'>
            <div class='clz-left'></div>
            <div class='clz-main'></div>
            <div class='clz-right'></div>
          </div>
          <div class='clz-main'>
            <div class='clz-inner clz-inlined'>
              <div class='fclz-module clz-module' uname='%#uname%' name='%#name%'>
                <img src='/images/blank.gif' class='clz-module-icon clz-icon-%#uname%'/>
              </div>
              <div class='clz-info'>
                <span>%#name%</span><br/>
                <span class='clz-action'>drag & drop</span>
              </div>
            </div>
          </div>
          <div class='clz-bottom'>
            <div class='clz-left'></div>
            <div class='clz-main'></div>
            <div class='clz-right'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
