<div class='infobox'>
  <div class='box box0'>
    <div class='box box1'>
      <h2>All you need in one place<sup>It's as easy as 1-2-3!</sup></h2>
      <div class='step name'>1) Choose a name</div>
      <div class='step pencil'>2) Choose a layout</div>
      <div class='step world'>3) Publish</div>
    </div>
    <div class='box box3'>
      <h2>Yes, free website + more!</h2>
      <p>Don't pay for storage. Don't pay for bandwidth. Don't even pay for having full-featured website.</p>
      <div class='start fn-start'>start for free&gt;&gt;</div>
      <p>Have it <b>under our domain name</b> for free for ever. (ex. <b>yourname</b>.cliiz.com)</p>
    </div>
    <div class='box box4'>
      <h2>Google loves you</h2>
      <p>Don't think about SEO any more. Your website is as friendly as can be to search engines.</p>
    </div>
  </div>
  <div class='box box2'>
    <h2>Free website template<sup><a class='fn-start'>Check out our layout gallery&gt;&gt;</a></sup></h2>
    <div class='gallery'></div>
    <h3>Design your own layout<sup><a href='/panel/designers'>Learn how to design&gt;&gt;</a></sup></h3>
    <p>You can even create your own unique layout or convert any existing layout to Cliiz layout. Or just check our ready to use <a href='/templates/free'>website templates</a>.</p>
  </div>
  <div class='box box5'>
    <h2>Get connected to facebook and twitter</h2>
    <p>Direct more traffic to your website and your business.</p>
  </div>
  <div class='box box6'>
    <h2>Hunt your visitors down</h2>
    <div class='subs'>
      <div class='sub'>
        <h3>Use Google Analytic</h3>
        <p>Track your visitors activity and their interest to offer better services and products and increase your profit.</p>
      </div>
      <div class='sub second'>
        <h3>Get contacted</h3>
        <p>Collect visitors information by our <b>Form Builder</b> and make them customers.</p>
      </div>
    </div>
  </div>
  <div class='box box7'>
    <h2>Be Visible</h2>
    <p>85% of people contact businesses they find in local searches. Have Google map in your website.</p>
  </div>
  <div class='box box8'>
    <h2>Have your own domain!</h2>
    <p>Do you want to look more professional? Have all these features and more in your domain name and get connected to Google Apps: Email, Calendar, Docs. (ex. www.yoursite.com)</p>
    <p>Have it all <b>under your domain</b> for just <font>$9.99/mth</font> (Pay as you go).</p>
    <p class='imp'><b><a>Learn more&gt;&gt;</a></b></p>
  </div>
  <div class='box box9'>
    <h2>Feed the world</h2>
    <p>Your RSS is generated automatically as you update your website.</p>
  </div>
  <div class='box box10'>
    <h2>Embedded Youtube</h2>
    <p>Share your promotional videos directly on your website and get more hits!</p>
  </div>
  <div class='box box11'>
    <h2>Blog</h2>
    <p>Have a voice among the online crowd. </p>
    <p>Use the in-house blogging system in your website to drive more traffic to your business.</p>
  </div>
</div>
