<div class='infobox'>
  <div class='box box0'>
    <div class='box box1'>
      <h2>هر آنچه که لازم دارید اینجاست<sup>به سادگی ۱-۲-۳!</sup></h2>
      <div class='step name'>۱) انتخاب اسم</div>
      <div class='step pencil'>۲) انتخاب طرح</div>
      <div class='step world'>۳) انتشار</div>
    </div>
    <div class='box box3'>
      <h2>رایگان است!</h2>
      <p>برای فضا پول ندهید! برای پهنای باند پول ندهید! حتی برای داشتن یک سایت کامل دیگر پول ندهید.</p>
      <div class='start fn-start'>رایگان شروع کنید&gt;&gt;</div>
      <p>همه این ها را <b>تحت دامنه ما</b> به رایگان داشته باشید برای همیشه! (مثال <b>yourname</b>.cliiz.com)</p>
    </div>
    <div class='box box4'>
      <h2>گوگل عاشق شماست</h2>
      <p>دیگر به SEO فکر نکنید. وب سایت شما را موتور های جستجو گر دوست دارند.</p>
    </div>
  </div>
  <div class='box box2'>
    <h2>طرح خاص داشته باشید<sup><a class='fn-start'>گالری طرح های ما را ببینید&gt;&gt;</a></sup></h2>
    <div class='gallery'></div>
    <h3>طرح خود را ایجاد کنید<sup><a href='/panel/designers'>یادبگیرید چگونه بسازید&gt;&gt;</a></sup></h3>
    <p>شما می توانید طرح خاص خود را بسازید یا طرح از پیش ساخته شده ای را به طرح Cliiz تبدیل کنید.</p>
  </div>
  <div class='box box5'>
    <h2>به فیس بوک و توییتر وصل شوید</h2>
    <p>توجه همگان را به سایت خود و کسب و کار خود جلب کنید.</p>
  </div>
  <div class='box box6'>
    <h2>
    کاربران سایت خود را شکار کنید</h2>
    <div class='subs'>
      <div class='sub'>
        <h3>آنالیزر گوگل</h3>
        <p>فعالیت کاربران خود را رد گیری کنید و علایق آنها را کشف کنید تا سرویس و محصولات بهتری عرضه کنید و سود بیشتری داشته باشید.</p>
      </div>
      <div class='sub second'>
        <h3>آماده تماس باشید</h3>
        <p>اطلاعات کاربران خود را با ساختن فرم از طریق <b>فرم ساز ما</b> جمع آوری کنید و آنها را به مشتری تبدیل کنید.</p>
      </div>
    </div>
  </div>
  <div class='box box7'>
    <h2>پیدا شوید!</h2>
    <p>% از مردم ، کسب و کارهایی را مراجعه می کنند که در جستجو محلی میابند. نقشه گوگل را در سایت خود داشته باشید.</p>
  </div>
  <div class='box box8'>
    <h2>دامنه خود را داشته باشید!</h2>
    <p>آیا دوست دارید حرفه ای تر باشید؟ همه این امکانات را به علاوه امکانات دیگر تحت اسم خود داشته باشید و از امکانات گوگل اپ استفاده کنید: ایمیل، تقویم، مدیریت پرونده. (مثال www.yoursite.com)</p>
    <p>همه را <b>تحت دامنه خود</b> داشته باشید فقط با <strike>۱۵،۰۰۰ تومان در ماه</strike> <font>۹،۰۰۰ تومان در ماه</font> (پرداخت ماهیانه).</p>
    <p class='imp'><b><a>بیشتر بدانید&gt;&gt;</a></b></p>
  </div>
  <div class='box box9'>
    <h2>به دنیا خوراک  دهید</h2>
    <p>هر لحظه که سایت خود را بروز رسانی کنید RSS شما اتوماتیک بروز میشود.</p>
  </div>
  <div class='box box10'>
    <h2>چند زبانه</h2>
    <p>ما میدانیم شما زبان مادری خود را ترجیح میدهید. <br/>
    ما سیستم را برای شما به زبان مورد علاقه تان ترجمه میکنیم.</p>
    <p class='imp'><b><a>زبان مادری شما&gt;&gt;</a></b></p>
  </div>
  <div class='box box11'>
    <h2>بلاگ</h2>
    <p>صدایی در میان ازدحام آنلاین داشته باشید.</p>
  </div>
</div>
