<h1>Process Cancelled</h1>
<div class='box detailed w748'>
  <div class='top'></div>
  <div class='main'>
    <h2>Payment is cancelled</h2>
    <p>You cancelled the payment of your website and your visitors cannot access it at <b class='green'>"<%=current_company.domain%>"</b>. You can enable it by clicking <a href='/panel/pay'>here</a> or any time later using your administration panel.</p>
    <p>If you are not happy with our service, we would be glad to know the reason in order to improve our service for you and other users. Please email us your comment at <a href='mailto:developers@cliiz.com'>developers@cliiz.com</a>.
    </p>
  </div>
  <div class='bottom'></div>
</div>
