<h1>I am a web designer</h1>
<div class='box w408 inline talign'>
  <div class='top'></div>
  <div class='main'>
    <h2>Cliiz Template</h2>
    <p>Basically Cliiz Template is an HTML template with extra attributes to be parsed by Cliiz Engine. If you have basic knowledge of HTML and CSS, you can start creating your first Cliiz Template <a href='/designers/how_to_design'>here</a>.</p>
    <h2>Where to start?</h2>
    <p>You can start creating your first Cliiz Template by 4 easy steps. To learn more <a href='/designers/how_to_design'>click here</a>.</p>
    <h2>Where to upload?</h2>
    <p>You can upload your designed template <a href='/designers/'>here</a>.</p>
  </div>
  <div class='bottom'></div>
</div>
<div class='box w748 inline talign'>
  <div class='top'></div>
  <div class='main'>
    <h2>How to make money?</h2>
    <p>Cliiz is a free website builder which lets all users to create a website by presenting their information using cliiz functionality and your uploaded templates.</p>
    <p>By following cliiz rules, you can easily convert your HTML template to a valid cliiz template and upload it using your panel. After uploading your template it will be tested by our engineers to make sure it suits basic requirements. Afterward it will be listed at Cliiz <b>Website Builder Wizard</b>. Whenever a user is using your template for their website you will get paid.</p>
  </div>
  <div class='bottom'></div>
</div>
<div class='box w408 talign'>
  <div class='top'></div>
  <div class='main'>
    <h2>Are you in a wrong place?</h2>
    <p>If you are not a web designer, it means this page and rest of the links are totally irrelevant to your need.</p> 
    <p>You may want to go to main page to start <a href='/'>making your website</a> or if you are already a member go to <a href='/panel'>your panel</a>.</p>
  </div>
  <div class='bottom'></div>
</div>
