<h1>Start</h1>
<h2>Login</h2>
<div class='box w308 inline talign'>
  <div class='top'></div>
  <div class='main fn-login-form' remote='/companies/sign_in.json' autoform='true'>
    <div class='row'><input name='company[email]' marker='.fn-login-user' autosubmit='enter'/><label class='watermark fn-login-user'>Username</label><img src='/images/blank.gif' class='help small' tip='Username is the email you entered at registeration' /></div>
    <div class='row'><input name='company[password]' marker='.fn-login-password' type='password' autosubmit='enter'/><label class='watermark fn-login-password'>Password</label></div>
    <div class='hidden failure fn-failure'>The username or password is incorrect.</div>
    <button remote-submit='true'>login</button><%= link_to "Forgot password?", new_password_path('company'), :class => 'forget' %>
  </div>
  <div class='bottom'></div>
</div>
<p class='inline w308'>Here, you can login to your administration panel. If you do not have an account, it's good to <a href='http://www.cliiz.com'>start over and create a website</a><img src='/images/blank.gif' class='help' tip='Cliiz.com is a free online website builder'/>for your business or activity.</p>
<h2>New user?</h3>
<p>Whether you need a website or you are a web designer you can enjoy cliiz.com benefits.</p>
<div class='box w308 inline talign'>
  <div class='top'></div>
  <div class='main' >
    <div class='icon editing inline'></div>
    <div class='inline info'>Do you have a small business or any sort of activity which should be presented in web properly? You can create your website in just 5 minutes in 3 easy steps. <a>Start it here!</a><p>You can easily extend your website by just a single click and adding blogs, eshop, photo gallery and more whenever your business or activity is growing!</p></div>
  </div>
  <div class='bottom'></div>
</div>
<div class='box w408 inline talign'>
  <div class='top'></div>
  <div class='main'>
    <div class='icon coloring inline'></div>
    <div class='inline info'>Are you a web designer? Do you want to have a design being seen by thousands of people. <a href='/panel/designers'>Start it here!</a><p>If you have templates worth selling, you can easily upload them and make money per usage!</p></div>
  </div>
  <div class='bottom'></div>
</div>
