<h1>Statics</h1>
<div class='box w748 inline talign'>
  <div class='top'></div>
  <div class='main'>
    <h2>Google Analytics</h2>
    <p>
    Google Analytics is the enterprise-class web analytics solution that gives you rich insights into your website traffic and marketing effectiveness. Powerful, flexible and easy-to-use features now let you see and analyze your traffic data in an entirely new way. With Google Analytics, you're more prepared to write better-targeted ads, strengthen your marketing initiatives and create higher converting websites.</p>
    <div class="icon setting inline"></div>
    <div class='inline info'>
    <h2>How to use it?</h2>
    <p>You can get it free from <a target='_blank' href='http://www.google.com/analytics/'>http://www.google.com/analytics/</a>.</p>
    <p>After creating your analytic profile you can get your <b>Web Property ID</b> from Tracking Code section in Profile Page of Google Analytic. You have to enter this code in your <b>Site Setting</b> page by simply clicking <a href='/panel/profile'>here</a>.</p>
    <p><br/><img src='/images/analytic-sample.jpg' class='talgin m0x5'/><span class='talign inline w250'>After creating your profile at Google Analytics and connecting it to your panel. You can check it directly at <a target='_blank' href='http://www.google.com/analytics/'>http://www.google.com/analytics/</a>.</span></p>
    </div>
  </div>
  <div class='bottom'></div>
</div>
