<h1>Process Succeed</h1>
<div class='box detailed w748'>
  <div class='top'></div>
  <div class='main'>
    <h2>Payment is done</h2>
    <p>You have enabled your Professional Membership. Your website is now published at <b class='green'>"<%=current_company.domain%>"</b>. You might not be able to see your website at your address immediately as it takes up to 48 hours for DNS to get updated.
    <p>We will send you an instruction email for your upgraded account shortly. If you have any question please email us at <a href='mailto:developers@cliiz.com'>developers@cliiz.com</a>.
    </p>
  </div>
  <div class='bottom'></div>
</div>
