<div class='loginbox'>
  <div class='intro'>
    <h2>Cliiz.com</h2>
    <p>Easy to use website editor for nontechnical people like you.</p>
    <p class='providedby'>Provided by tectual.com.au</p>
  </div>
  <div class='login'>
    <h1>ADMINISTRATION</h1>
    <%= form_for(@resource, :as => Company, :url => session_path(Company)) do |f| %>
      <div class='clz-row300 clz-aright'>
        <label class='clz-label100 clz-aright'>Email:</label><input name='company[email]' class='clz-input'/>
      </div>
      <div class='clz-row300 clz-aright'>
        <label class='clz-label100 clz-aright'>Password:</label><input name='company[password]' type='password' class='clz-input'/>
      </div>
      <div class='clz-row300 clz-aright'>
        <label class='clz-label150 clz-lright'><div class='clz-checkbox'></div><span> Remember Me</span></label>
        <button class='clz-active-button'>Sign in</button>
        <button class='clz-secondary-button'>Forget</button>
      </div>
    <% end %>
  </div>
</div>
