body{
  height: 100%;
  background: #0E1314;
}

.infobox,
.infobox .box0,
.infobox .box6 .subs,
.mainbox > .menu,
.mainbox .language.open .bottom,
.mainbox .language.open .bottom *,
.mainbox .box .top,
.mainbox .box .bottom,
.intro,
.layouts,
.wizard .layout-step,
.wizard .list .item,
.wizard .navigation,
.input,
.inputbox > .top,
.inputbox > .bottom,
.mainbox .video-screen .actions .dbl-button{
  font-size: 0px;
}
.infobox .box0 > *,
.infobox .box1 .step,
.infobox .box6 .sub,
.mainbox > .menu > * > *,
.infobox .box,
.mainbox .box .top *,
.mainbox .box .bottom *,
.intro .left-partition,
.intro .frame-partition,
.layouts .layout,
.layouts,
.wizard .layout-step > *,
.wizard .list .item > *,
.wizard .navigation *,
.input > *,
.inputbox > .top > *,
.inputbox > .bottom > *,
.inputbox > .main .checkbox,
.mainbox .video-screen .actions .dbl-button > *{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.mainbox{
  background: #0E1314 bottom repeat-x;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}
.mainbox.extended{
  position: relative;
}
.mainbox.extended .footer{
  position: relative;
  margin-top: 30px;
}
.mainbox.flexy{
  position: relative;
  overflow: auto;
  height: auto;
}
.loading{
  background: url(/images/loading.gif) center bottom no-repeat;
  width: 200px;
  height: 50px;
  margin: auto;
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -100px;
  color: #fff;
  text-align: center;
}
.mainbox > .menu{
  height: 40px;
  text-align: right;
  padding: 10px 20px 0px;
}
.mainbox > .menu > *{
  margin-left: 7px;
  cursor: pointer;
}
.mainbox > .menu *{
  color: #668c9a;
  text-decoration: none;
}
.mainbox > .menu > * > *{
  background: url(/images/home/menu-item-set.png) repeat-x;
  vertical-align: top;
  height: 40px;
  width: 6px;
}
.mainbox > .menu .right{
  background-position: 0px -80px;
}
.mainbox > .menu .main{
  background-position: 0px -40px;
  width: auto;
  padding: 0px 10px;
  line-height: 38px;
  font-size: 14px;
  font-weight: bold;
}
.mainbox .login .main{
  text-align: center;
}
.mainbox .language{
  z-index: 10;
  cursor: pointer;
  position: relative;
  text-align: left;
}
.mainbox .language .main{
  position: relative;
  width: 120px;
  overflow: hidden;
}
.language-expanded .item{
  padding: 5px 18px;
}
.mainbox .language span{
  position: relative;
  padding: 0px 20px 0px 4px;
}
.mainbox .language .arrow{
  background: url(/images/home/box-arrow.png) no-repeat;
  width: 22px;
  height: 17px;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}
.mainbox .language.open > .left{
  background-position: 0px -120px;
}
.mainbox .language.open > .right{
  background-position: 0px -160px;
}
.mainbox .language .drop{
  display: none;
}
.mainbox .language.open .drop{
  display: block;
}
.mainbox .language.open .list{
  display: block;
  width: 152px;
  position: relative;
  height: auto;
  background: #101719 url(/images/home/menu-item-left.png) repeat-y;
}
.mainbox .language.open .list .inner{
  background: url(/images/home/menu-item-right.png) right repeat-y;
  width: 132px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 0px 20px;
}
.mainbox .language.open .bottom{
  width: 152px;
  height: 5px;
  display: block;
  position: relative;
  background: none;
}
.mainbox .language.open .bottom *{
  width: 6px;
  height: 5px;
  background: url(/images/home/menu-item-set.png) repeat-x;
}
.mainbox .language.open .bottom .left{
  background-position: 0px -200px;
}
.mainbox .language.open .bottom .right{
  background-position: 0px -210px;
}
.mainbox .language.open .bottom .main{
  width: 140px;
  padding: 0px;
  background-position: 0px -205px;
}


.footer{
  background: url(/images/extend-bar-rep.jpg) 0px 30px repeat-x;
  height: 91px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: #B7DAED;
}
.compatible{
  background: url(/images/compatibility.png) right center no-repeat;
  margin: auto;
  width: 150px;
  text-align: right;
  line-height: 22px;
  padding: 3px 75px 3px 0px;
  display: inline;
}
.footer-menu{
  list-style: none;
  margin: 15px 0px 0px;
  padding: 0px;
  width: 100%;
  display: block;
  text-align: center;
}
.footer-menu a{
  background: url(/images/extended-arrow.jpg) right top no-repeat;
  cursor: pointer;
  color: #B7DAED;
  font-size: 18px;
  font-weight: bold;
  height: 38px;
  line-height: 20px;
  padding-top: 10px;
  padding-right: 60px;
  text-decoration: none;
  overflow: hidden;
}
.footer-menu a:hover {
  color: #83C4EE;
  background-position: right -48px;
}
.layout-preview{
  position: absolute;
  top: 350px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
}
.layout-preview .frame{
  width: 100%;
  height: 100%;
}
.layout-preview-block{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 20px;
  height: 100%;
}
.layout-preview-block.trans{
  background: #07212B;
  -moz-opacity:.96; 
  filter:alpha(opacity=96);
  opacity: 0.96;
}

/* video */
.mainbox .video-screen{
  background: #030303;
  -moz-opacity:.96; 
  filter:alpha(opacity=96);
  opacity: 0.96;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000;
}
.mainbox .video-screen .actions{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -325px;
  margin-top: -200px;
  text-align: right;
}
.mainbox .video-screen .actions .dbl-button{
  height: 30px;
}
.mainbox .video-screen .actions .dbl-button > *{
  background: url(/images/toolbox/toolbox-set.png);
  height: 30px;
  width: 5px;
  font-size: 12px;
  color: #fff;
}
.mainbox .video-screen .actions .dbl-button .left{
  background-position: 0px -450px;
}
.mainbox .video-screen .actions .dbl-button .first{
  background-position: 0px -480px;
  padding: 0px 10px 0px 5px;
  width: auto;
  line-height: 28px;
  cursor: pointer;
}
.mainbox .video-screen .actions .dbl-button .sep{
  background-position: 0px -510px;
}
.mainbox .video-screen .actions .dbl-button .second{
  background-position: 0px -540px;
  padding: 0px 20px;
  width: auto;
  line-height: 28px;
  cursor: pointer;
}
.mainbox .video-screen .actions .dbl-button .right{
  background-position: 0px -570px;
}


/*intro*/
.intro{
  width: 950px;
  margin: 20px auto 0px;
}
.intro h1{
  font-size: 28px;
  color: #3c758a;
  font-weight: bold;
  padding-bottom: 20px;
}
.intro h2{
  font-size: 20px;
  color: #0692c6;
  font-weight: bold;
}
.intro h2.faded{
  color: #103340;
}
.mainbox .box .top *,
.mainbox .box .bottom *{
  background: url(/images/home/box-set.png);
  vertical-align: top;
  height: 10px;
  width: 10px;
}
.mainbox .box .top .left{
}
.mainbox .box.dark .top .left{
  background-position: 0px -60px;
}
.mainbox .box .top .main{
  background-position: 0px -20px;
}
.mainbox .box.dark .top .main{
  background-position: 0px -80px;
}
.mainbox .box .top .right{
  background-position: 0px -40px;
}
.mainbox .box.dark .top .right{
  background-position: 0px -100px;
}
.mainbox .box .bottom .left{
  background-position: 0px -10px;
}
.mainbox .box.dark .bottom .left{
  background-position: 0px -70px;
}
.mainbox .box .bottom .main{
  background-position: 0px -30px;
}
.mainbox .box.dark .bottom .main{
  background-position: 0px -90px;
}
.mainbox .box .bottom .right{
  background-position: 0px -50px;
}
.mainbox .box.dark .bottom .right{
  background-position: 0px -110px;
}
.mainbox .box > .main{
  background: #151718 url(/images/home/box-left.png) repeat-y;
}
.mainbox .box.dark > .main{
  background: #2F2F2F url(/images/home/box-dark-left.png) repeat-y;
}
.mainbox .box > .main > .inner{
  background: url(/images/home/box-right.png) right repeat-y;
  padding: 0px 10px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.mainbox .box.dark > .main > .inner{
  background: url(/images/home/box-dark-right.png) right repeat-y;
}
.mainbox .box.w350,
.mainbox .box.w350 > .top,
.mainbox .box.w350 > .main,
.mainbox .box.w350 > .bottom{ width: 350px; }
.mainbox .box.w350 .top .main,
.mainbox .box.w350 .bottom .main{ width: 330px; }
.mainbox .box .thebest{
  width: 170px; 
  padding-top: 5px;
  float: right;
  font-size: 14px;
  color: #6997a8;
  line-height: 16px;
  cursor: pointer;
}
.mainbox .box.w350 .inner{
  padding: 5px 20px;
  text-align: center;
} 
.mainbox .box.w350 h2{ 
  color: #e6c112;
}
.mainbox .box.w350 h2 span{ 
  color: #0692c6;
}
.mainbox .box.askus{
  display: block;
  position: absolute;
  right: 0px;
}

.mainbox .box.w340,
.mainbox .box.w340 .top,
.mainbox .box.w340 .main,
.mainbox .box.w340 .bottom{ width: 340px; }
.mainbox .box.w340 .top .main,
.mainbox .box.w340 .bottom .main{ width: 320px; } 
.mainbox .box.w340.video,
.mainbox .box.w340.plans{
  margin-top: 10px;
  text-align: center;
}
.mainbox .box.w340.plans{
  cursor: pointer;
}
.mainbox .box.w340.plans .inner{
  padding: 10px 0px 20px;
}
.mainbox .box.w340.video .inner{
  padding: 0px 0px 20px;
}
.mainbox .box.w340.video *{
  vertical-align: middle;
}
.mainbox .box.w340.video img,
.mainbox .box.w340.video h3{
  cursor: pointer;
}
.mainbox .box.w340.video h3{
  text-align: left;
  padding-left: 25px;
  color: #0692c6;
  font-size: 15px;
  font-weight: bold;
}
.mainbox .box.w340.plans h2{
  color: #e6c112;
  font-size: 22px;
  padding: 10px 0px;
  font-weight: bold;
}
.mainbox .box.w340.plans h3{
  color: #0692c6;
  font-size: 20px;
  padding: 5px 0px;
  font-weight: bold;
}
.mainbox .box.w340.plans h4{
  color: #424242;
  font-size: 16px;
  padding: 5px 0px;
  font-weight: bold;
}
.intro .main-partition{
  width: 550px;
  float: left;
}
.intro .extra-partition{
  width: 380px;
  float: right;
}
.intro .frame-partition{
  width: 570px;
  height: 230px;
}
.intro .frame-partition > img{
  margin: 5px;
}
.intro .layouts{
  margin: 5px 60px;
}
.layouts h1{
  font-size: 20px;
  font-weight: bold;
  color: #6997A8;
  padding: 0px 0px 5px 5px;
}
.intro .layout{
  width: 144px;
  height: 144px;
  position: relative;
}

/* shared */
.wizard .title{
  display: block;
  position: absolute;
  top: -35px;
  left: 0px;
  font-size: 20px;
  color: #0692c6;
  font-weight: bold;
}
.wizard .paragraph{
  width: 600px;
  margin: 60px auto 0px;
}
.wizard .paragraph.margintop10{
  margin-top: 10px;
}
.wizard .paragraph .top{
  background: url(/images/wizard/content-top.png);
  height: 14px;
}
.wizard .paragraph .inner{
  background: url(/images/wizard/content-rep.png);
  padding: 0px 20px;
}
.wizard .paragraph .bottom{
  background: url(/images/wizard/content-bottom.png);
  height: 14px;
}
.wizard .paragraph p{
  margin: 0px;
  padding: 5px 0px;
  color: #333;
}

.vscrollbar{
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  -moz-opacity:.70; 
  filter:alpha(opacity=70);
  opacity: 0.70;
  background: #777;
  width: 10px;
}
.vscrollbar .handle{
  width: 10px;
  height: 40px;
  position: absolute;
  background: url(/images/home/v-handle.png);
  cursor: pointer;
  top: 0px;
}
.input{
  width: 411px;
  position: relative;
}
.input > *{
  background: url(/images/home/input-set.png) repeat-x;
  height: 41px;
  width: 7px;
}
.input .left{
}
.input .label{
  background-position: 0px -41px;
  width: 170px;
}
.input .label-right{
  background-position: 0px -82px;
}
.input > .main{
  background-position: 0px -205px;
  width: 220px;
}
.input.error > .main{
  background-position: 0px -123px;
}
.input.correct > .main{
  background-position: 0px -164px;
}
.input > .main input{
  background: none;
  color: #333;
  border: none;
  width: 220px;
  padding: 8px 0px;
  font-weight: bold;
}
.input.error > .main input{
  color: #5f0411;
  background: url(/images/home/input-error.png) right no-repeat;
}
.input.correct > .main input{
  color: #0a5409;
  background: url(/images/home/input-correct.png) right no-repeat;
}
.input .right{
  background-position: 0px -328px;
}
.input.error .right{
  background-position: 0px -246px;
}
.input.correct .right{
  background-position: 0px -287px;
}
.input .label,
.input > .main{
  color: #333;
  line-height: 38px;
  font-size: 14px;
  font-weight: bold;
}
.input .label{
  color: #2485a9;
}
.input .tooltip{
  width: 200px;
  position: absolute;
  background: #111;
  right: -225px;
  top: 0px;
  border: #333 1px solid;
  font-size: 12px;
  padding: 3px 4px;
  height: 35px;
  display: none;
}
.input.error .tooltip{ display: block; }
.input .tooltip .main span{ display: none; }
.input.error.server .tooltip .main span.server{ display: block; }
.input.error.client .tooltip .main span.client{ display: block; }
.input .tooltip .arrow{
  border: transparent 10px solid;
  border-right: #111 8px solid;
  width: 0px;
  height: 0px;
  position: absolute;
  left: -18px;
  top: 9px;
}
.input .tooltip .arrow.shadow{
  border-right: #333 8px solid;
  left: -19px;
}
.input .tooltip .main{
  line-height: 35px;
  padding: 0px 10px;
  font-weight: bold;
}


.inputbox{
  width: 750px;
}
.inputbox > .top{
  height: 40px;
}
.inputbox > .top > *,
.inputbox > .bottom > *{
  background: url(/images/home/input-box-set.png) repeat-x;
  height: 40px;
  width: 7px;
}
.inputbox > .bottom > *{
  height: 11px;
}
.inputbox > .top .left{
}
.inputbox > .top > .label{
  background-position: 0px -52px;
  width: 736px;
  color: #2485a9;
  line-height: 38px;
  font-size: 14px;
  font-weight: bold;
}
.inputbox > .top .right{
  background-position: 0px -103px;
}
.inputbox > .main{
  background: #fff url(/images/home/input-box-left.png) repeat-y;
}
.inputbox > .main > .inner{
  background: url(/images/home/input-box-right.png) right repeat-y;
  width: 750px;
  padding: 5px 0px 10px;
}
.inputbox > .main textarea,
.inputbox > .main .wysiwyg{
  margin: auto;
  border: none;
}
.inputbox > .main textarea{
  height: 290px;
  width: 730px;
}
.inputbox > .main .checkbox *{
  vertical-align: middle;
}
.inputbox > .main .checkbox{
  width: 120px;
  margin: 0px 10px;
}
.inputbox > .bottom .left{
  background-position: 0px -41px;
}
.inputbox > .bottom .main{
  background-position: 0px -92px;
  width: 736px;
}
.inputbox > .bottom .right{
  background-position: 0px -143px;
}

.layout .frame{
  display: block;
  background: url(/images/wizard/template-frame.png) -144px 0px no-repeat;
  height: 144px;
  width: 144px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.layout.selected .frame,
.layout:hover .frame{
  background: url(/images/wizard/template-frame.png) no-repeat;
}
.layout img{
  width: 120px;
  height: 120px;
  margin: 12px 12px;
}

.scrollbar{
  background: url(/images/wizard/scroll-bar.png) repeat-x;
  width: 300px;
  height: 10px;
  margin: 10px auto auto;
  position: relative;
}
.scrollbar .handler{
  width: 68px;
  height: 39px;
  position: absolute;
  top: -15px;
  cursor: pointer;
  left: 0;
  margin-left: -34px;
}
.scrollbar .forward{
  background: url(/images/wizard/scroll-bar-handle.png) -34px 0px no-repeat;
  width: 34px;
  height: 39px;
}
.scrollbar .backward{
  background: url(/images/wizard/scroll-bar-handle.png) no-repeat;
  width: 34px;
  height: 39px;
}
.scrollbar .forward:hover {
  background-position: -34px -40px;
}
.scrollbar .backward:hover {
  background-position: 0px -40px;
}

/* wizard */


.wizard{
  color: #2485a9;
  width: 950px;
  margin: 5px auto;
  z-index: 1;
  position: relative;
}
.wizard.trans .navigation{
  display: none;
}
.wizard h2{
  font-size: 16px;
  font-weight: bold;
}
.wizard .description{
  color: #fff;
  font-style: italic;
}
.wizard .menu{
  text-align: center;
}
.wizard .menu span{
  color: #060606;
  cursor: default;
  width: 143px;
  padding: 25px 100px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.wizard .menu span.selected {
  color: #a1c0cb;
}
.wizard .step{
  padding-top: 10px;
  position: relative;
}
.wizard .next{
  padding: 10px 0px 5px;
  font-size: 16px;
  color: #E6C112;
  font-weight: bold;
  display: none;
}
.wizard .next span{
  color: #0692C6;
  cursor: pointer;
}
.wizard .navigation{
  width: 208px;
  height: 58px;
  position: absolute;
  bottom: 0px;
}
.wizard .navigation *{
  cursor: pointer;
}
.wizard .prev-step{
  background: url(/images/wizard/back-big.png) 0px -60px no-repeat;
  width: 76px;
  height: 58px;
}
.wizard .prev-step:hover {
  background-position: 0px 0px;
}
.wizard .next-step{
  background: url(/images/wizard/next-big.png) 0px -60px no-repeat;
  width: 132px;
  height: 58px;
}
.wizard .next-step:hover {
  background-position: 0px 0px;
}

.wizard .inputbox{
  margin: 12px 0px;
}

.wizard .finished{
}
.wizard .finished h2{
  font-size: 16px;
  padding-top: 8px;
  color: #444;
}
.wizard .finished h3{
  font-size: 14px;
  padding: 15px 0px 5px;
  margin: 0px;
  color: #444;
}
.wizard .finished a{
  color: #333;
  text-decoration: none;
}
.wizard .finished span.sub{
  color: #0F7998;
}
.wizard .finished .site-url{
  margin: 0px;
  font-style: italic;
}


.wizard .modules{
  padding: 10px 0px 0px 100px;
  height: 370px;
  width: 700px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
}
.wizard .modules .scrollable{
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 10px;
}

.wizard .input{
  margin: 12px 0px;
}
.wizard .basic-info{
  padding: 0px 0px 0px 0px;
}
.wizard .site-url{
  font-weight: bold;
  font-size: 13px;
}
.wizard .site-url .sub{
  color: #65afcb;
}
.wizard .current-user{
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.wizard .current-user span{
  color: #65afcb;
}


.wizard .layouts{
  width: 864px;
  padding-bottom: 15px;
}
.wizard .layout-list-mask{
  width: 864px;
  height: 154px;
  overflow: hidden;
  margin: auto;
  position: relative;
}
.wizard .layout-list{
  vertical-align: top;
  height: 360px;
  font-size: 0px;
  position: absolute;
}
.wizard .layout img{
  width: 120px;
  height: 120px;
  margin: 12px 12px;
}

.wizard h3{
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  width: 300px;
}
.wizard h3 .chosen{
  display: block;
  position: absolute;
  left: 100px;
  top: -5px;
  border-bottom: #0692c6 1px solid;
  font-size: 14px;
  background: url(/images/wizard/option-arrow.png) right bottom no-repeat;
  color: #0692c6;
  line-height: 20px;
  padding: 5px 15px 5px 15px;
}
.wizard .list{ display: none; }
.wizard h3:hover .list{
  width: 200px;
  margin: 0px;
  display: block;
  position: absolute;
  left: 100px;
  top: -5px;
  z-index: 100;
}
.wizard .list .item{
  cursor: pointer;
  display: block;
  width: 200px;
}
.wizard .list .item .main{
  border-bottom: #0692c6 1px solid;
  background: #131C21;
  width: 145px;
  height: 34px;
  font-size: 14px;
  color: #c4e0ec;
  line-height: 20px;
  padding: 10px 5px 0px 15px;
}
.wizard .list .item.selected .main,
.wizard .list .item:hover .main{
  background: #131C21 url(/images/wizard/option-arrow.png) right bottom no-repeat;
  color: #0692c6;
}
.wizard .list .item.selected .left,
.wizard .list .item:hover .left{
  background: url(/images/home/list/item-selected-left.png) no-repeat;
}
.wizard .list .item.selected .right,
.wizard .list .item:hover .right{
  background: url(/images/home/list/item-selected-right.png) no-repeat;
}
.wizard .list .item.disabled .left{
  background: url(/images/home/list/item-left.png) no-repeat;
}
.wizard .list .item.disabled .main{
  background: url(/images/home/list/item-rep.png) repeat-x;
  color: #222;
  cursor: default;
}
.wizard .list .item.disabled .right{
  background: url(/images/home/list/item-right.png) no-repeat;
}
.wizard .list .bottom{
  background: url(/images/home/list/bottom.png);
  width: 178px;
  height: 14px;
}

/* icons */
.sitebuilder-icon,
.content-icon,
.infoform-icon{
  background: url(/images/iconset.png);
  width: 60px;
  height: 60px;
}
.content-icon{
  background-position: -120px 0px;
}
.infoform-icon{
  background-position: -60px 0px;
}
.selected-modules-list .sitebuilder-icon,
.selected-modules-list .content-icon,
.selected-modules-list .infoform-icon{
  background-position: 0px -60px;
  width: 40px;
  height: 40px;
}
.selected-modules-list .content-icon{
  background-position: -130px -60px;
}
.selected-modules-list .infoform-icon{
  background-position: -70px -60px;
}

.upper{
  position: fixed;
  bottom: 100px;
  right: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #59A1BB;
  height: 35px;
  width: 40px;
  background: url(/images/home/upper.png);
  text-align: center;
  padding: 33px 0px 0px 5px;
  cursor: pointer;
  display: none;
}
.extended .upper{
  display: block;
}
.extrabox{
  display: none;
  background: #7896a1;
  padding: 30px 0px;
}
.infobox{
  width: 902px;
  height: 1151px;
  margin: auto;
  background: url('/images/content/infobox.jpg');
}
.infobox .box{
  font-size: 12px;
  color: #444;
  padding: 10px;
  vertical-align: top;
}
.infobox h2,
.infobox h3{
  color: #476378;
  font-size: 22px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.infobox h3{
  color: #868f94;
  font-size: 18px;
}
.infobox h2 sup,
.infobox h3 sup{
  color: #b09a47;
  font-size: 14px;
  display: block;
}
.infobox h2 sup a,
.infobox h3 sup a,
.infobox a{
  color: #b09a47;
  cursor: pointer;
  text-decoration: none;
}
.infobox a:hover {
  text-decoration: underline;
}
.infobox font{
  color: #b09a47;
}
.infobox p{
  margin: 0px;
  padding: 8px 0px;
}
.infobox .box0{
  width: 600px;
  height: 450px;
  padding: 0px;
  font-size: 0px;
}
.infobox .box1{
  height: 200px;
  width: 580px;
}
.infobox .box2{
  height: 430px;
  width: 280px;
}
.infobox .box3{
  height: 210px;
  width: 280px;
}
.infobox .box4{
  height: 210px;
  width: 280px;
  background: url(/images/content/google.png) right bottom no-repeat;
}
.infobox .box5{
  height: 210px;
  width: 280px;
  background: url(/images/content/social.png) 130px 130px no-repeat;
}
.infobox .box6{
  height: 210px;
  width: 580px;
  background: url(/images/content/analytic.png) right bottom no-repeat;
}
.infobox .box7{
  height: 210px;
  width: 280px;
  background: url(/images/content/map.png) 160px 100px no-repeat;
}
.infobox .box8{
  height: 210px;
  width: 580px;
}
.infobox .box9{
  height: 210px;
  width: 280px;
  background: url(/images/content/rss.png) 100px 100px no-repeat;
}
.infobox .box10{
  height: 210px;
  width: 280px;
  background: url(/images/content/youtube-player.png) center 120px no-repeat;
}
.infobox .box11{
  height: 237px;
  width: 279px;
  background: url(/images/content/blog.jpg) 3px 3px no-repeat;
}

.infobox .box1 .step{
  margin: 30px 25px 0px;
  height: 20px;
  padding-top: 70px;
  font-weight: bold;
  font-size: 14px;
}
.infobox .box1 .pencil{
  background: url(/images/content/pencil.png) center top no-repeat;
}
.infobox .box1 .name{
  background: url(/images/content/name.png) center top no-repeat;
  margin-left: 60px;
}
.infobox .box1 .world{
  background: url(/images/content/world.png) center top no-repeat;
}
.infobox .gallery{
  background: url(/images/content/gallery.png) center top no-repeat;
  width: 232px;
  height: 124px;
  margin: 30px auto 25px;
}
.infobox .start{
  background: url(/images/content/start.png) center top no-repeat;
  width: 198px;
  height: 43px;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 15px auto;
}
.infobox .start:hover {
  background-position: 0px -63px;
}
.infobox .box6 .subs{
  width: 580px;
  margin-top: 15px;
}
.infobox .box6 .sub{
  font-size: 12px;
  vertical-align: top;
  width: 275px;
  margin-right: 15px;
}
.infobox .box6 .sub.second{
  width: 265px;
  margin-right: 5px;
  margin-left: 10px;
}
.infobox .box8 .imp,
.infobox .box1 .imp{
  font-size: 14px;
}
.mainFooter{
  text-align: center;
  padding-top: 5px;
  color: #eee;
}
.mainFooter *{
  margin: 0px 5px;
  color: #eee;
}

/* other pages */
.layouts.all{
  width: 900px;
  margin: 20px auto;
  display: block;
}
.layouts.all p{
  font-size: 12px;
  color: #fff;
  margin: 3px 5px 10px;
}
.layouts.all p.bold{
  color: #B09A47;
  font-size: 13px;
  font-weight: bold;
}
.layouts.all a{
  color: #668C9A;
  text-decoration: none;
}
