div.cliiz-module,div.cliiz-module div,div.cliiz-module input,div.cliiz-module label,div.cliiz-module textarea{
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
div.cliiz-module input,div.cliiz-module textarea,div.cliiz-module label{
  margin: 0px;
  padding: 2px;
}
/* form */
div.cliiz-module div.cliiz-field{
  padding: 5px 0px;
}
div.cliiz-field label{
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: 200px;
}
div.cliiz-field textarea{
  width: 300px;
  height: 120px;
}
div.cliiz-module .cliiz-button{
  margin-left: 204px;
}

/* common */
div.cliiz-module div.cliiz-image img{ display: block; position: relative; border: #111 1px solid;}
div.cliiz-module div.cliiz-success{ 
  font-size: bold; 
  color: #0D6D15; 
  background: #67BF6E; 
  border: #10821A 1px solid; 
  padding: 3px 5px; 
  margin: 5px 0px;
  line-height: 20px; 
  width: 300px;
  margin-left: 204px;
}
/* POST */
div.cliiz-module div.cliiz-posts div.cliiz-image,
div.cliiz-module div.cliiz-posts div.cliiz-detail,
div.cliiz-module div.cliiz-blog div.cliiz-image,
div.cliiz-module div.cliiz-blog div.cliiz-detail{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 3px 5px;
}
div.cliiz-module div.cliiz-posts div.cliiz-post{
  width: 380px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
div.cliiz-module div.cliiz-posts div.cliiz-image img{
  width: 50px;
  height: 50px;
}
div.cliiz-module div.cliiz-posts h2{
  font-size: 1.1em;
}
div.cliiz-module div.cliiz-posts div.cliiz-detail{
  width: 300px;
  padding: 0px 5px 10px;
}

/* Location */
div.cliiz-module div.cliiz-location,
div.cliiz-module div.cliiz-location *{
  color: #444;
}
/* Gallery */
div.cliiz-gallery{
  font-size: 0px;
}
div.cliiz-module div.cliiz-gallery div.cliiz-image,
div.cliiz-module div.cliiz-gallery a.cliiz-image{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  position: relative;
  margin: 10px 20px;
}
div.cliiz-gallery .cliiz-magnified{
  display: none;
  position: absolute;
  bottom: -50%;
  left: -50%;
  z-index: 100;
}
div.cliiz-gallery div.cliiz-image .cliiz-info{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: #222;
  padding: 5px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
div.cliiz-gallery .cliiz-image:hover .cliiz-magnified{
  display: block;
}
div.cliiz-module div.cliiz-gallery div.cliiz-image img.cliiz-image-shadow{ 
  display: block; 
  position: absolute; 
  top: -4px; 
  right: -4px; 
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
div.cliiz-module div.cliiz-image a{
  display: block;
  color: #fff;
}
div.cliiz-module div.cliiz-image-preview{
  text-align: center;
}
