<% if @correctStructure<2 %>
<h1>Uploading Cliiz Template Failed!</h1>
<div class='box w748 talign'>
  <div class='top'></div>
  <div class='main'>
    <h2>Error in Folder Structure</h2>
    <p>Your Folder structure inside the zip file is somehow wrong. Please check your structure again and resubmit your template.</p>
    <p>Your <b>template</b> folder should be the root (only file/folder) appear in your zip file and other folders and files should be placed inside that folder. For more information Check <a href='/designers/how_to_design'>this tutorial</a> or contact us at designers@cliiz.com</p>
  </div>
  <div class='bottom'></div>
</div>
<%else%>
<h1>Cliiz Template Uploaded!</h1>
<div class='box w748 talign'>
  <div class='top'></div>
  <div class='main'>
    <h2>Your Cliiz Template is uploaded successfully</h2>
    <p>Thanks for your uploaded template. We will review your template and test it to make sure it is compatible with Cliiz system. When the template is approved one of our staff will contact you by your email.</p>
    <h3>Any Question?</h3>
    <p>If you have any question you can contact us by designers@cliiz.com or post your question in our facebook page at <a href='http://facebook.com/cliiz'>http://facebook.com/cliiz</a></p>
  </div>
  <div class='bottom'></div>
</div>
<%end%>
