<h2>Congratulations</h2>
<p>Your website is upgraded successfully!</p>
<p>You can login and start changing your website at <a href='http://<%=@company.name%>.com.au/panel'><%=@company.name%>.com.au</a></p>
<p>Your customers can access your website as before at <a href='http://<%=@company.name%>.com.au/panel'><%=@company.name%>.com.au</a></p>
<h3>More features, more power</h3>
<ul>
  <li>Adding/removing pages</li>
  <li>Better content editor</li>
  <li>Adding image freely between your content</li>
  <li>Easier Gallery with newer look</li>
  <li>Manage all from one place</li>
</ul>
<h3>Not enough?</h3>
<p>What you have is not enough? We are working hard and more features are coming:</p>
<ul>
  <li></li>
</ul>
