<h1>Login</h1>
<div class='box w308 inline talign'>
  <div class='top'></div>
  <div class='main'>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class='row'><input name='company[email]' marker='.fn-login-user' autosubmit='enter'/><label class='watermark fn-login-user'>Username</label><img src='/images/blank.gif' class='help small' tip='Username is the email you entered at registeration' /></div>
      <div class='row'><input name='company[password]' marker='.fn-login-password' type='password' autosubmit='enter'/><label class='watermark fn-login-password'>Password</label></div>
      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>
      <button remote-submit='true'>login</button><%= link_to "Forgot password?", new_password_path(resource_name), :class => 'forget' %>
    <% end %>
  </div>
  <div class='bottom'></div>
</div>
