<div class='loginbox'>
  <div class='intro'>
    <p>Easy to use website editor for nontechnical people like you.</p>
    <p class='providedby'>Provided by tectual.com.au</p>
  </div>
  <div class='login'>
    <h1>ADMINISTRATION</h1>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class='clz-row300 clz-aright'>
        <label class='clz-label100 clz-aright'>Email:</label><input name='company[email]' class='clz-input'/>
      </div>
      <div class='clz-row300 clz-aright'>
        <label class='clz-label100 clz-aright'>Password:</label><input name='company[password]' type='password' class='clz-input'/>
      </div>
      <div class='clz-row300 clz-aright'>
        <div class='clz-checkbox150 clz-aleft' data-checkbox='[name="company[remember_me]"]'><input type='checkbox' name='company[remember_me]'/><span>Remember Me</span></div>
        <button class='clz-active-button'>Sign in</button>
        <button class='clz-secondary-button' data-url='<%=new_password_path(resource_name)%>'>Forget</button>
      </div>
    <% end %>
  </div>
</div>
