<div class='cliiz-module cliiz-image'>
  <h1>Gallery</h1>
  <div class='cliiz-image-preview'>
    <h2><%=image.title%></h2>
    <a href='<%=image.image.entity.url%>' target='_blank'><img src='<%=image.image.entity.url(:large)%>' /></a>
  </div>
</div>
