body{
  margin: 0px;
  padding: 0px;
  font-family: arial, tahoma;
  font-size: 12px;
  background: url(../images/background.jpg);
}
a img{
  border: none;
}
.info{
  font-size: 0px;
}
.menu a,
.bar,
.main,
.clzM-blog .clz-more,
.clzM-blog .clz-date{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.company{
  float: left;
  color: #eee;
  width: 500px;
  height: 50px;
  overflow: hidden;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  padding: 10px 0px 0px 20px;
}
.header{
  background: url(../images/header.png) top repeat-x;
  height: 58px;
  width: 100%;
}
.menu{
  float: right;
  margin-top: 8px;
}
.clear{ clear:both;}
.menu a{
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  margin: 8px 20px;
  text-decoration: none;
  color: #2c72dc;
}
.menu a.selected{
  color: #fff;
}
.container{
  width: 900px;
  height: auto;
  margin: 30px auto 0px;
  font-size: 0px;
}
.container .top{
  background: url(../images/main-top.png) no-repeat;
  width: 900px;
  height: 10px;
}
.container .content{
  background: url(../images/main-rep.jpg) repeat-y;
}
.container .bottom{
  background: url(../images/main-bottom.png) no-repeat;
  width: 900px;
  height: 10px;
}
.main{
  width: 630px;
  padding: 0px 7px;
  vertical-align: top;
  font-size: 12px;
  color: #333;
  padding-top: 10px;
}
.bar{
  width: 230px;
  padding: 0px 7px;
  padding-top: 10px;
  vertical-align: top;
  font-size: 12px;
  color: #444;
}
.facebook{
  width: 600px;
  margin: 30px 0px 10px 250px;
  overflow: hidden;
}

/* common-> */
a{ color: #47556B; cursor: pointer; }
a img{ border: none; }
h1, h2, h3, h4, h5{
  color: #2c72dc;
  font-size: 14px;
  margin: 0px;
  padding: 5px 0px 3px;
}
h1 a, h2 a, h3 a{ color: #2c72dc; text-decoration: none; }
h1{ font-size: 20px; }
h2{
  font-size: 18px;
  color: #39a413;
}
h3{
  font-size: 16px;
  padding: 5px 0px 3px;
}
p{
  margin: 0px;
  padding: 5px 0px;
}
.cliiz-blog .cliiz-detail{
  position: relative;
  height: 100px;
  width: 480px;
}
.cliiz-blog .cliiz-info{
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
}
.cliiz-blog .cliiz-post{
  border-bottom: #aaa 1px dashed;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 10px;
}
.cliiz-blog .cliiz-post:hover {
  background: #f3f3f3;
  color: #222;
}
.cliiz-blog .cliiz-post:hover img{
  border-color: #888;
}
.cliiz-blog .cliiz-date{
  color: #4B8D9C;
}
.cliiz-blog .cliiz-more{
  margin-top: 3px;
  margin-left: 10px; 
}
div.cliiz-module div.cliiz-posts div.cliiz-post{
  width: 310px;
}
div.cliiz-module div.cliiz-posts div.cliiz-detail{
  width: 240px;
  padding: 0px 0px 10px;
}
.bar div.cliiz-module div.cliiz-posts div.cliiz-detail{
  width: 165px;
  padding: 0px 0px 5px;
}
/* <-common */
