body.fixed{
  overflow: hidden;
}
.clz-main{
  font-family: arial, tahoma;
  background: #e3e3e3;
  width: 100%;
  position: fixed;
  top: 0px;
  color: #000;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 0px 0px;
  z-index: 1000;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
  border-bottom: #999 1px solid;
}
.clz-main > div{
  padding: 0px 10px;
}
.clz-top{
  height: 20px;
  border-bottom: #d0d0d0 1px solid;
}
.clz-top .clz-menu{
  float: left;
}
.clz-top .clz-menu a,
.clz-top .clz-session a{
  text-decoration: none;
  color: #000;
  border-left: #7e7e7e 2px solid;
  padding-left: 5px;
  margin-right: 8px;
}
.clz-top .clz-menu a:hover {
  border-color: #2c9bdb;
}
.clz-top .clz-menu a span{
  color: #2c9bdb;
}
.clz-top .clz-session{
  float: right;
}
.clz-top .clz-session a{
  color: #e42222;
}
.clz-top .clz-session span{
  color: #2c9bdb;
}
.clz-clear{
  clear: both;
}
.clz-main .clz-tools{
  padding-top: 5px;
  height: 74px;
  position: relative;
}
.clz-tools .clz-actions{
  position: absolute;
  right: 70px;
  top: 20px;
}
.clz-tools .clz-publish,
.clz-tools .clz-restore,
.clz-form .clz-close,
.clz-form .clz-preview{
  padding: 9px 10px 9px 30px;
  position: relative;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  background: #cc1e3f url(/assets/flat/button-tick.png) 7px center no-repeat;
  cursor: pointer;
}
.clz-form .clz-close,
.clz-form .clz-preview{
  background: #cc1e3f url(/assets/flat/up.png) 7px center no-repeat;
}
.clz-form .clz-preview{
  background: #2c9bdb url(/assets/flat/button-tick.png) 7px center no-repeat;
}
.clz-tools .clz-restore{
  background: #2c9bdb url(/assets/flat/up.png) 7px center no-repeat;
}
.clz-form .clz-close:hover,
.clz-tools .clz-publish:hover {
  background-color: #bb1938;
}
.clz-form .clz-preview:hover {
  background-color: #1F8AC4;
}
.clz-tools .clz-restore:hover {
  background-color: #1F8AC4;
}
.clz-tools .clz-items{
  font-size: 0px;
}
.clz-tools .clz-items > div{
  background: #c1c1c1 3px 5px no-repeat;
  width: 64px;
  height: 69px;
  border-left: 5px solid;
  margin-right: 3px;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  cursor: pointer;
}
.clz-tools .clz-items > div:hover {
  background-color: #111111;
}
.clz-tools .clz-items > .clz-expandable.clz-expanded{
  height: 74px;
  background-color: #111111;
  width: 200px;
}
.clz-tools .clz-items .clz-addon-button{
  background-image: url(/assets/flat/addon.png);
  border-left-color: #cc1eb5;
}
.clz-tools .clz-items .clz-sitemenu-button{
  background-image: url(/assets/flat/menu.png);
  border-left-color: #d0ce07;
}
.clz-tools .clz-items .clz-package-button{
  background-image: url(/assets/flat/package.png);
  border-left-color: #2d5f9c;
}
.clz-tools .clz-items .clz-theming-button{
  background-image: url(/assets/flat/theming.png);
  border-left-color: #cc1e3f;
}
.clz-tools .clz-items .clz-setting-button{
  background-image: url(/assets/flat/setting.png);
  border-left-color: #06bd0f;
}
.clz-tools .clz-info{
  display: none;
  color: #fff;
  margin-left: 64px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 74px;
}
.clz-tools .clz-expanded .clz-info{
  display: table;
}
.clz-tools .clz-info span{
  color: #2c9bdb;
}
.clz-cell{
  display: table-cell;
  vertical-align: middle;
}
.clz-main .clz-submenu{
  background: #111111;
  display: none;
  position: relative;
}
.clz-main .clz-submenu > .clz-package-button,
.clz-main .clz-submenu > .clz-module-button{
  background: 0px 8px no-repeat;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 14px;
  font-weight: normal;
  width: 140px;
  height: 50px;
  padding: 5px;
  overflow: visible;
  cursor: move;
  border-bottom: transparent 3px solid;
  margin: 0px 15px 5px 0px;
  position: relative;
}
.clz-main .clz-submenu > .clz-package-button{
  cursor: pointer;
}
.clz-main .clz-submenu > div:hover {
  border-bottom-color: #2c9bdb;
}
.clz-main .clz-submenu .clz-content-button{
  background-image: url(/assets/flat/content.png);
}
.clz-main .clz-submenu .clz-infoform-button{
  background-image: url(/assets/flat/form.png);
}
.clz-main .clz-submenu .clz-locationmark-button{
  background-image: url(/assets/flat/map.png);
}
.clz-main .clz-submenu .clz-youtube-button{
  background-image: url(/assets/flat/video.png);
}
.clz-main .clz-submenu .clz-postfilter-button{
  background-image: url(/assets/flat/post.png);
}
.clz-main .clz-submenu .clz-gallery-button{
  background-image: url(/assets/flat/gallery.png);
}
.clz-main .clz-submenu .clz-blog-button{
  background-image: url(/assets/flat/blog.png);
}
.clz-main .clz-submenu .clz-list-button{
  background-image: url(/assets/flat/listing.png);
}
.clz-main .clz-submenu .clz-info{
  display: table;
  height: 60px;
  margin-left: 50px;
  background: 5px 5px no-repeat;
  text-align: left;
}
.clz-submenu .clz-dragdrop{
  background-image: url(/assets/flat/drag-drop.png);
  width: 17px;
  height: 82px;
  position: absolute;
  right: 10px;
  top: 28px;
  display: none;
}
.clz-submenu > div:hover .clz-dragdrop{
  display: block;
}
.clz-submenu  .clz-package-button .clz-onoff{
  width: 17px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 28px;
}
.clz-submenu .clz-package-button.clz-enabled .clz-onoff{
  background-image: url(/assets/flat/enabled.png);
}
.clz-submenu .clz-package-button.clz-disabled .clz-onoff{
  background-image: url(/assets/flat/disabled.png);
}
.clz-submenu .clz-package-button.clz-enabled:hover .clz-onoff{
  background-image: url(/assets/flat/disabled.png);
}
.clz-submenu .clz-package-button.clz-disabled:hover .clz-onoff{
  background-image: url(/assets/flat/enabled.png);
}
.clz-main .clz-submenu .clz-package-button.clz-enabled:hover {
  border-bottom-color: #c2c2c2;
}

.clz-submenu .clz-themeleft,
.clz-submenu .clz-themeright{
  width: 35px;
  height: 110px;
  position: absolute;
  z-index: 1000;
  top: 15px;
  cursor: pointer;
}
.clz-submenu .clz-themeleft{
  background: url(/assets/flat/arrow-left.png) no-repeat;
  left: 5px;
}
.clz-submenu .clz-themeright{
  background: url(/assets/flat/arrow-right.png) no-repeat;
  right: 5px; 
}
.clz-submenu .clz-themeleft:hover,
.clz-submenu .clz-themeright:hover {
  background-position: 0px -110px;
}
.clz-submenu .clz-thememask{
  overflow: hidden;
  margin: auto;
  position: relative;
  height: 140px;
}
.clz-submenu .clz-themeroller{
  padding: 5px 0px;
  font-size: 0px;
  white-space: nowrap;
  position: absolute;
  height: 140px;
}
.clz-submenu .clz-themeroller .clz-theme {
  border: #747474 2px solid;
  margin: 3px 2px;
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: visible;
  position: relative;
}
.clz-submenu .clz-themeroller .clz-theme:hover {
  border-color: #2c9bdb;
}
.clz-submenu .clz-theme .clz-marker{
  width: 120px;
  height: 120px;
}
.clz-submenu .clz-theme .clz-marker:hover {
  background: url(/assets/flat/tick.png) center center no-repeat;
}
.clz-module-button{
  z-index: 1001;
}
body .clz-module-button{
  background: #2c9bdb;
  height: 30px;
  padding: 10px;
  text-align: center;
  width: 140px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  cursor: move;
}
body .clz-module-button .clz-info,
body .clz-module-button .clz-cell{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.clz-theme-preview{
  width: 300px;
  height: 300px;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  top: 250px;
  z-index: 1001;
  border: #2c9bdb 5px solid;
  display: none;
  background: #111;
}
.clz-placeholder{
  background: #2c9bdb;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 5px 0px;
}
.clz-drag-clone{
  background: #333;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 5px 0px;
  cursor: move;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter:alpha(opacity=80);
}
.clz-module-shadow{
  border: #2c9bdb 2px dashed;
  height: 8px;
  margin: 3px 0px;
}
.clz-player{
  background: #000 url(/assets/flat/player.jpg) center no-repeat;

}

/* form */
.clz-form-box{
  background: url(/assets/flat/blocker.png);
  position: fixed;
  z-index: 1004;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.clz-form{
  color: #000;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 860px;
  background: #fff;
  padding: 10px 10px 30px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  font-size: 14px;
}
.clz-form .clz-actions{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  text-align: right;
}
.clz-form h2,
.clz-form h3{
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px 20px;
  margin: 0px;
  width: 500px;
  color: #222;
}
.clz-form h3{
  font-size: 14px;
  padding: 15px 0px 5px;
  color: #444;
}
.clz-description{
  color: #1F88C1;
}

.clz-fixlist{
  position: relative;
  display: inline-block;
  width: 140px;
  vertical-align: top;
}
.clz-fixlist .clz-fixlist{
  position: absolute;
}
.clz-list{
  display: inline;
  position: relative;
  overflow: visible;
  line-height: 22px;
  margin: 0px 2px;
}
.clz-info .clz-list span,
.clz-list span{
  color: #fff;
  border-bottom: #2c9bdb 3px solid;
  padding-right: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(/assets/flat/arrow-down.png) right center no-repeat;
}
.clz-form span{
  border-width: 2px;
}
.clz-form .clz-list span{
  color: #222;
}
.clz-droplist{
  background: #222;
  margin-top: -1px;
  position: absolute;
  display: none;
  z-index: 1004;
}
.clz-form .clz-droplist{
  color: #fff;
  margin-top: -4px;
}
.clz-list:hover .clz-droplist{
  display: block;
}
.clz-droplist > div {
  border-bottom: #444 1px solid;
  padding: 5px 10px 3px 7px;
  white-space: nowrap;
  cursor: pointer;
}
.clz-droplist > div:hover {
  background: #2c9bdb;
}

.clz-header,
.clz-row,
.clz-row300,
.clz-row400{
  line-height: 35px;
  font-size: 0px;
}
.clz-row300{ width: 300px; }
.clz-row400{ width: 400px; }

.clz-row *,
.clz-row300 *,
.clz-row400 *{
  font-size: 14px;
}
.clz-inlined{
  display: inline-block;
}

.clz-label,
.clz-label50,
.clz-label80,
.clz-label100,
.clz-label150,
.clz-label180,
.clz-label200,
.clz-label300{
  display: inline-block;
  cursor: pointer;
  color: #2C9BDB;
}
.clz-label50{
  width: 50px;
}
.clz-label80{
  width: 80px;
}
.clz-label100{
  width: 100px;
}
.clz-label150{
  width: 150px;
}
.clz-label180{
  width: 180px;
}
.clz-label200{
  width: 200px;
}
.clz-label300{
  width: 300px;
}
.clz-label.clz-stressed,
.clz-label80.clz-stressed,
.clz-label100.clz-stressed{
  font-weight: bold;
}
.clz-label *,
.clz-label50 *,
.clz-label80 *,
.clz-label100 *,
.clz-label150 *,
.clz-label180 *,
.clz-label200 *,
.clz-label300 *{
  vertical-align: middle;
}
.clz-vtop{
  vertical-align: top;
}
.clz-aright{
  text-align: right;
}
.clz-aleft{
  text-align: left;
}
.clz-pad10{
  padding-left: 10px;
}
.clz-pad20{
  padding-left: 20px;
}
.clz-textarea{
  width: 500px;
  line-height: 22px;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: #2c9bdb 2px solid;
  border-left: #2c9bdb 2px solid;
  margin: 0px 3px;
  padding: 2px;
  outline: none;
  height: 120px;
  vertical-align: top;
  margin-top: 5px;
}
.clz-input,
.clz-input70,
.clz-input270,
.clz-input500,
.clz-input-button{
  width: 170px;
  line-height: 22px;
  font-size: 16px;
  background: none;
  border: none;
  border-bottom: #2c9bdb 2px solid;
  margin: 0px 3px;
  padding: 2px;
  outline: none;
}
.clz-input70{
  width: 70px;
}
.clz-input270{
  width: 270px;
}
.clz-input500{
  width: 500px;
}
.clz-input-button,
.clz-input-date{
  border: none;
  border-left: #2c9bdb 2px solid;
  border-bottom: #2c9bdb 2px solid;
  margin-left: -3px;
  padding-left: 5px;
  font-weight: bold;
  bottom: 0px;
  position: absolute;
  width: 60px;
}
.clz-input-button span{
  color: #2c9bdb;
  font-size: 12px;
}
.clz-input-date{
  border: none;
  background: url(/assets/flat/date.png) right 5px no-repeat;
  height: 20px;
  border-bottom: #2c9bdb 2px solid;
  width: 20px;
  right: 0px;
}
.clz-input-block270{
  display: inline-block;
  position: relative;
}
.clz-input-block270 .clz-input,
.clz-input-block270 .clz-input70,
.clz-input-block270 .clz-input270,
.clz-input-block270 .clz-input-button{
  vertical-align: bottom;
}
.clz-active-button,
.clz-secondary-button,
.clz-attention-button{
  padding: 3px 8px;
  background: #2c9bdb;
  border: none;
  color: #000;
  cursor: pointer;
  margin: 0px 1px;
}
.clz-secondary-button{
  background: #989898;
}
.clz-attention-button{
  background: #BB1938;
}
.clz-checkbox,
.clz-checkbox150,
.clz-radio,
.clz-radio150{
  cursor: pointer;
  width: 22px;
  height: 16px;
  display: inline-block;
  background: url(/assets/flat/checkbox.png) 3px center no-repeat;
}
.clz-radio,
.clz-radio150{
  background: url(/assets/flat/choice.png) 3px center no-repeat;
}
.clz-checkbox input,
.clz-checkbox150 input,
.clz-radio input,
.clz-radio150 input{
  display: none;
}
.clz-checkbox.clz-checked,
.clz-checkbox150.clz-checked{
  background: url(/assets/flat/checkbox-on.png) 3px center no-repeat;
}
.clz-radio.clz-checked,
.clz-radio150.clz-checked{
  background: url(/assets/flat/choice-on.png) 3px center no-repeat;
}
.clz-checkbox150,
.clz-radio150{
  width: 128px;
  padding-left: 22px;
  height: auto;
}

.clz-browser{
}
.clz-browser .clz-current{
  border: #2c9bdb 2px solid;
  border-bottom: none;
  line-height: 35px;
  float: left;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 0px 10px 0px 10px;
}
.clz-browser .clz-upload{
  float: left;
  line-height: 35px;
  padding-left: 4px;
}
.clz-browser .clz-upload .clz-active-button{
  padding: 6px 10px;
}
.clz-browser .clz-window{
  border: #2c9bdb 2px solid;
  padding: 5px;
  height: 300px;
  clear: both;
  top: -2px;
  position: relative;
  font-size: 0;
  overflow: auto;
}
.clz-browser .clz-file{
  width: 100px;
  height: 100px;
  display: inline-block;
  border: #555 2px solid;
  margin: 2px;
  position: relative;
}

.clz-browser .clz-file:hover{
  border: #2c9bdb 2px solid;
}
.clz-browser .clz-file .clz-actions{
  position: absolute;
  top: auto;
  left: -2px;
  bottom: 0px;
  display: inline;
  height: 60px;
  width: 100px;
}
.clz-browser .clz-file .clz-active-button,
.clz-browser .clz-file .clz-attention-button{
  display: none;
  margin: 2px 0px;
}
.clz-browser .clz-file:hover .clz-active-button,
.clz-browser .clz-file:hover .clz-attention-button{
  display: block;
}
.clz-browser .clz-upload-button{
  overflow: hidden;
  float: left;
  position: relative;
  cursor: pointer;
}
.clz-browser .clz-upload-button input{
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(3);
}
.clz-browser .clz-progress{
  width: 200px;
  float: left;
  height: 3px;
  background: #aaa;
  margin: 16px 0px 0px 5px;
  display: none;
}
.clz-browser .clz-progress .clz-bar{
  height: 3px;
  background: #2c9bdb ;
  width: 0%;
}

.fclz-editor{
  width: 100%;
  height: 300px;
}
.clz-form div.wysiwyg{
  border: none;
}
.clz-form div.wysiwyg ul.toolbar{
  border: none;
}
.clz-form div.wysiwyg iframe{
  border: 2px solid #2C9BDB;
  box-shadow: none;
}

.clz-site-logo,
.clz-post-image{
  margin-left: 60px;
  display: inline-block;
  width: 120px;
  text-align: center;
  line-height: 20px;
}

.clz-listing .clz-row,
.clz-listing .clz-row-button{
  position: relative;
  background: #e1e1e1;
  margin: 4px 0px;
  padding: 3px 7px;
  line-height: 35px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.clz-listing .clz-row-button{
  background: #2B9BDB;
  border: #000 1px solid;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.clz-row.clz-disabled{
  background: #FCFC8F;
}
.clz-row .clz-enable{
  display: none;
}
.clz-row.clz-disabled .clz-disable{
  display: none;
}
.clz-row.clz-disabled .clz-enable{
  display: inline-block;
}

.clz-row .clz-actions{
  top: auto;
  bottom: 0px;
  line-height: 20px;
  display: none;
}
.clz-row:hover .clz-actions{
  display: block;
}
.clz-row .clz-actions button{
  margin: 0px 1px;
}

.clz-row .clz-ractions{
  top: 3px;
  left: 0px;
  display: none;
  direction: rtl;
  width: auto;
  padding-left: 10px;
  position: absolute;
}
.clz-row:hover .clz-ractions{ display: inline-block; }
.clz-updown{
  width: 25px;
  height: 37px;
}
.clz-updown .clz-up,
.clz-updown .clz-down{
  height: 18px;
  width: 25px;
  background: #2C9BDB url(/assets/flat/move-up.png) center center no-repeat;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-top: 1px;
  cursor: pointer;
}
.clz-updown .clz-down{
  background-image: url(/assets/flat/move-down.png);
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* TABLE */
.clz-table .clz-row,
.clz-table .clz-header{
  position: relative;
  background: #e1e1e1;
  margin: 1px 0px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.clz-table .clz-header{
  background: #242424;
  color: #fff;
}
.clz-table .clz-checkbox{
  vertical-align: middle;
}
.clz-table .clz-actions{
  top: auto;
  bottom: 0px;
  line-height: 20px;
  display: none;
}
.clz-table .clz-row:hover .clz-actions{
  display: block;
}
.clz-table .clz-actions button{
  margin: 0px 1px;
}
.clz-table .clz-row img {
  height: 30px;
  margin: 0 2px;
  vertical-align: middle;
  width: 30px;
}
.clz-bottom-actions {
  margin: 15px 0px;
  text-align: right;
}
/* page elements */
.cliiz-module{
  position: relative;
}
.cliiz-module .clz-editing{
  display: none;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: #2c9bdb 5px solid;
}
.cliiz-module:hover .clz-editing{
  display: block;
}
.cliiz-module .clz-menu{
  background: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 90px;
  margin-left: -45px;
  margin-top: -25px;
  padding-left: 2px;
  font-size: 0;
  z-index: 1000;
}
.cliiz-module .clz-menu >div{
  width: 35px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  background: 0px 0px no-repeat;
  margin: 8px 0px 0px 6px;
  vertical-align: top;
}
.cliiz-module .clz-menu .clz-setting{
  background-image: url(/assets/flat/edit.png);
}
.cliiz-module .clz-menu .clz-delete{
  background-image: url(/assets/flat/delete.png);
}
.cliiz-module .clz-menu *:hover {
  background-position: 0px -36px;
  border-bottom: #2c9bdb 4px solid;
}
