body{
  text-align: right;
}
.stage div span{
  direction: rtl;
}
.language .name,
.language-expanded .item{
  padding: 14px 38px 10px 18px;
}
.wizard{
  text-align: left;
}
.tooltip .tip,
.wizard .info-bar .main,
.wizard .form > .main .content{
  text-align: right;
  direction: rtl;
}
.footer-menu,
.wizard .input .hint .message {
  direction: rtl;
}
.tooltip .close{
  left: 8px;
  right: auto;
}
.wizard .form > .main .content{
  padding-right: 10px;
  width: 630px;
}
div.cliiz-mini-menu .cliiz-drop .cliiz-content{
  direction: rtl;
}
.compatible{
  background-position: left center;
  padding: 4px 0px 5px 75px;
}
.wizard .finished,
.extrabox .box{
  direction: rtl;
  text-align: right;
}
.extrabox .box0{
  direction: ltr;
  text-align: left;
}
.extrabox .box1 .step{
  margin: 35px;
}
.extrabox .box1 .name{
  margin-right: 70px;
}
