div.cliiz-mini-menu,
div.cliiz-mini-menu *{
  padding: 0px;
  margin: 0px;
}
div.cliiz-mini-menu{
  height: 45px;
  position: absolute;
  z-index: 5000;
  top: 30px;
  left: 50px;
}
div.cliiz-mini-menu .cliiz-bar{
  position: relative;
  z-index: 5002;
  top: 12px;
}
div.cliiz-mini-menu,
div.cliiz-mini-menu .cliiz-bar,
div.cliiz-mini-menu .cliiz-bar *,
div.cliiz-mini-menu .cliiz-current-icon,
div.cliiz-mini-menu .cliiz-current-title{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
}
div.cliiz-mini-menu .cliiz-move{
  width: 46px;
  height: 20px;
  background: url(/assets/mini/move.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 5001;
  cursor: move;
}
div.cliiz-mini-menu .cliiz-left{
  height: 45px;
  width: 21px;
  background: url(/assets/mini/menu-left.png) no-repeat;
}
div.cliiz-mini-menu .cliiz-right{
  height: 45px;
  width: 21px;
  background: url(/assets/mini/menu-right.png) no-repeat;
}
div.cliiz-mini-menu .cliiz-main{
  height: 45px;
  width: 210px;
  background: url(/assets/mini/menu-rep.png) repeat-x;
}
div.cliiz-mini-menu .cliiz-bar .cliiz-prev{
  width: 18px;
  height: 26px;
  background: url(/assets/mini/prev-next.png) no-repeat;
  margin-top: 3px;
  margin-left: 20px;
  cursor: pointer;
}
div.cliiz-mini-menu .cliiz-bar .cliiz-prev:hover {
  background-position: 0px -27px;
}
div.cliiz-mini-menu .cliiz-bar .cliiz-title{
  text-align: center;
  width: 120px;
  height: 26px;
  font-size: 12px;
  padding-top: 15px;
}
div.cliiz-mini-menu .cliiz-bar .cliiz-next{
  width: 18px;
  height: 26px;
  background: url(/assets/mini/prev-next.png) -19px 0px no-repeat;
  margin-top: 3px;
  cursor: pointer;
}
div.cliiz-mini-menu .cliiz-bar .cliiz-next:hover {
  background-position: -19px -27px;
}
div.cliiz-mini-menu .cliiz-drop{
  width: 182px;
  position: relative;
  left: 20px;
}
div.cliiz-mini-menu .cliiz-current-icon{
  width: 34px;
  height: 34px;
}
div.cliiz-mini-menu .cliiz-drop .cliiz-current-title{
  font-size: 13px;
}
div.cliiz-mini-menu .cliiz-drop .cliiz-content{
  width: 162px;
  padding: 10px;
  background: url(/assets/mini/drop-rep.png) repeat-y;
}
div.cliiz-mini-menu .cliiz-drop .cliiz-bottom{
  height: 131px;
  width: 182px;
  background: url(/assets/mini/drop-bottom.png) no-repeat;
  text-align: center;
  padding-top: 10px;
}


/* menu item*/
div.cliiz-mini-menu .cliiz-bar .cliiz-restore{
  height: 30px;
  width: 30px;
  background: url(/assets/mini/menu-iconset.png);
  cursor: pointer;
  margin-top: 4px;
}
div.cliiz-mini-menu .cliiz-bar .cliiz-restore:hover {
  background-position: 0px -30px;
}


div.cliiz-layouts{
  width: 252px;
}
div.cliiz-mini-menu .cliiz-drop .cliiz-restore{
  height: 60px;
  width: 60px;
  background: url(/assets/mini/big-restore.png);
  cursor: pointer;
  display: block;
  position: relative;
  margin: 0px auto 10px;
}
div.cliiz-mini-menu .cliiz-drop .cliiz-message a{
  color: #1999c9;
  cursor: pointer;
}
/* layout */

div.cliiz-mini-menu .cliiz-layout-mask{
  width: 162px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
div.cliiz-mini-menu .cliiz-layout-scroller{
  position: relative;
  top: 0px;
}
div.cliiz-mini-menu .cliiz-layout{
  width: 162px;
  height: 180px;
  position: relative;
}
div.cliiz-mini-menu .cliiz-layout .cliiz-frame{
  background: url(/assets/wizard/template-frame.png) no-repeat;
  height: 162px;
  width: 162px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
div.cliiz-mini-menu .cliiz-layout.selected .cliiz-frame,
div.cliiz-mini-menu .cliiz-layout:hover .cliiz-frame{
  background-image: url(/assets/wizard/template-frame-selected.png);
}
div.cliiz-mini-menu .cliiz-layout .cliiz-info{
  background: url(/assets/wizard/template-info-bar.png) no-repeat;
  width: 78px;
  height: 24px;
  margin: -10px;
  position: absolute;
  left: 52px;
  z-index: 0;
  text-align: center;
  color: #16a7d1;
  font-weight: bold;
  padding-top: 7px;
}
div.cliiz-mini-menu .cliiz-layout img{
  width: 120px;
  height: 120px;
  margin: 19px 21px;
}
