body{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: arial, tahoma;
  color: #000;
  background: #D5D5D5;
}
.loginbox{
  width: 640px;
  bottom: 100px;
  right: 100px;
  position: absolute;
}
.intro{
  vertical-align: top;
  display: inline-block;
  color: #333;
  width: 250px;
  padding: 60px 20px 0px 5px;
  font-weight: bold;
  background: url(/assets/flat/webuilder.png) 0px 20px no-repeat;
  height: 200px;
}
.login{
  padding-top: 80px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  padding-left: 10px;
  border-left: #b5b5b5 1px solid;
}
.providedby{
  color: #000;
  line-height: 25px;
}
.loginbox h1{
  font-size: 20px;
}
.loginbox h2{
  font-size: 16px;
}
.loginbox p{
  padding: 0px;
  margin: 0px;
}
