body.clz-fixed{
  overflow: hidden;
}

.clz-form-blocker,
.clz-blocker{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url(/assets/toolbox/blocker-thick.png);
  z-index: 10010;
}
.clz-form-blocker{
  z-index: 10004;
  background: url(/assets/toolbox/blocker-thick.png);
}
.clz-blocker .clz-loading{
  background: #222;
  border: #000 1px solid;
  cursor: default;
  position: absolute;
  text-align: center;
  color: #bbb;
  font-size: 12px;
  top: 0px;
  width: 120px;
  line-height: 30px;
  margin-left: -60px;
  left: 50%;
}
.clz-inlined,
.clz-box .clz-header,
.clz-box .clz-footer,
.clz-toolbox .clz-module-box,
.clz-toolbox .clz-module-box > *,
.clz-module-box,
.clz-module-box > *,
.cliiz-module .clz-editing .clz-menu,
.clz-actions .clz-dbl-button,
.clz-actions .clz-dbl-button *,
.clz-formbox .clz-field,
.clz-formbox .clz-field > *,
.clz-formbox .clz-field > .clz-main > .clz-button,
.clz-formbox .clz-field > .clz-block > .clz-top,
.clz-formbox .clz-field > .clz-block > .clz-bottom,
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main .clz-options,
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input{
  font-size: 0;
}
.clz-inlined > *,
.clz-toolbox .clz-module-box > * > *,
.clz-module-box > * > *,
.cliiz-module .clz-editing .clz-menu *,
.clz-actions .clz-dbl-button,
.clz-actions .clz-dbl-button > *,
.clz-formbox .clz-field .clz-label > *,
.clz-formbox .clz-field > .clz-main > *,
.clz-formbox .clz-field > .clz-main > .clz-button > *,
.clz-formbox .clz-field > .clz-block > .clz-top > *,
.clz-formbox .clz-field > .clz-block > .clz-bottom > *,
.clz-box .clz-header > *,
.clz-box .clz-footer > *,
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main .clz-option,
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input > *,
.clz-walk .clz-tooltip .clz-step a{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
/*boxes*/
.clz-box,
.clz-box *{
  font-family: arial, tahoma;
  font-size: 12px;
}
.clz-toolbox{
  width: 213px;
  position: absolute;
  top: 80px;
  left: 100px;
  z-index: 10002;
}
.clz-formbox{
  width: 813px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -406px;
  z-index: 10005;
}
.clz-globalbox{
  width: 213px;
  position: fixed;
  top: 0px;
  right: 100px;
  z-index: 10001;
}
.clz-box > * > *{
  background: url(/assets/toolbox/toolbox-set.png) repeat-x;
}
.clz-box .clz-header *{
  font-size: 11px;
  width: 5px;
  height: 19px;
  cursor: move;
}
.clz-box .clz-header .clz-left{}
.clz-box .clz-header .clz-main{
  background-position: 0px -30px;
  width: 203px;
  color: #888;
  line-height: 15px;
}
.clz-formbox .clz-header .clz-main{ width: 803px; }
.clz-box .clz-header .clz-main img{
  background: url(/assets/toolbox/icon-set.png) 0px -80px no-repeat;
  width: 10px;
  height: 10px;
  margin: 0px 2px;
  vertical-align: middle;
}
.clz-box .clz-header .clz-right{ background-position: 0px -60px; }
.clz-box .clz-middle{
  background: url(/assets/toolbox/toolbox-right.png) right repeat-y;
  width: 213px;
}
.clz-formbox .clz-middle{ width: 813px; }
.clz-globalbox .clz-middle{ width: 213px; }
.clz-box .clz-middle > .clz-left{
  background: url(/assets/toolbox/toolbox-left.png) repeat-y;
  width: 213px;
  padding: 0px 4px;
}
.clz-formbox .clz-middle > .clz-left{ width: 813px; }
.clz-globalbox .clz-middle > .clz-left{ width: 213px; }
.clz-box .clz-middle > .clz-left > .clz-main{
  background: url(/assets/toolbox/toolbox-bck.png);
  width: 205px;
  padding-bottom: 5px;
  position: relative;
}
.clz-formbox .clz-middle > .clz-left > .clz-main{
  width: 795px;
  padding: 10px 5px;
}
.clz-globalbox .clz-middle > .clz-left > .clz-main{
  width: 195px;
  padding: 3px 5px 0px;
  text-align: center;
}
.clz-box .clz-footer *{
  font-size: 11px;
  width: 5px;
  height: 5px;
  cursor: move;
}
.clz-box .clz-footer .clz-left{
  background-position: 0px -25px;
}
.clz-box .clz-footer .clz-main{
  background-position: 0px -55px;
  width: 203px;
  color: #888;
  line-height: 14px;
}
.clz-toolbox.clz-show-layouts > .clz-footer {
  width: 700px;
}
.clz-toolbox.clz-show-layouts > .clz-footer > .clz-main{
  width: 690px;
}
.clz-formbox .clz-footer .clz-main{ width: 803px; }
.clz-globalbox .clz-footer .clz-main{ width: 203px; }
.clz-box .clz-footer .clz-right{
  background-position: 0px -85px;
}

.clz-toolbox .clz-menu{
  height: 40px;
}
.clz-toolbox .clz-menu .clz-menu-sep{
  background: url(/assets/toolbox/icon-set.png) -80px -80px no-repeat;
  width: 9px;
  height: 40px;
  margin-top: 4px;
}
.clz-toolbox .clz-menu .clz-menu-item{
  background: url(/assets/toolbox/icon-set.png) no-repeat;
  width: 40px;
  height: 40px;
  overflow: visible;
  cursor: pointer;
}
.clz-toolbox .clz-menu .clz-modules-menu{ background-position: 0px -40px; }
.clz-toolbox .clz-menu .clz-modules-menu:hover,
.clz-toolbox.clz-show-features .clz-menu .clz-modules-menu { background-position: 0px 0px; }
.clz-toolbox .clz-menu .clz-packages-menu{ background-position: -40px -40px; }
.clz-toolbox .clz-menu .clz-packages-menu:hover,
.clz-toolbox.clz-show-packages .clz-menu .clz-packages-menu { background-position: -40px 0px; }
.clz-toolbox .clz-menu .clz-layouts-menu{ background-position: -80px -40px; }
.clz-toolbox .clz-menu .clz-layouts-menu:hover,
.clz-toolbox.clz-show-layouts .clz-menu .clz-layouts-menu { background-position: -80px 0px; }
.clz-toolbox .clz-menu .clz-setting-menu{ background-position: -120px -40px; }
.clz-toolbox .clz-menu .clz-setting-menu:hover,
.clz-toolbox.clz-show-setting .clz-menu .clz-setting-menu { background-position: -120px 0px; }
.clz-toolbox.clz-show-features .clz-menu .clz-modules-menu .clz-arrow,
.clz-toolbox.clz-show-packages .clz-menu .clz-packages-menu .clz-arrow,
.clz-toolbox.clz-show-layouts .clz-menu .clz-layouts-menu .clz-arrow,
.clz-toolbox.clz-show-setting .clz-menu .clz-setting-menu .clz-arrow{
  border: transparent 10px solid;
  border-bottom: #222 8px solid;
  width: 0px;
  height: 0px;
  margin-left: 10px;
  margin-top: 27px;
}
.clz-toolbox > .clz-title{
  background: #222;
  height: 20px;
  line-height: 19px;
  padding: 3px 8px;
  color: #999;
}
.clz-toolbox.clz-show-layouts > .clz-title{
  width: 684px;
}
.clz-toolbox > .clz-title,
.clz-toolbox > .clz-middle.clz-panel{
  display: none;
}
.clz-toolbox.clz-show-layouts > .clz-middle.clz-panel{
  width: 700px;
}
.clz-toolbox.clz-show-layouts > .clz-middle.clz-panel > .clz-left > .clz-main{
  width: 695px;
  height: 400px;
  overflow: hidden;
}
.clz-toolbox.clz-show-features > .clz-features-comp{ display: block; }
.clz-toolbox.clz-show-features > .clz-features-comp{ display: block; }
.clz-toolbox.clz-show-packages > .clz-packages-comp{ display: block; }
.clz-toolbox.clz-show-packages > .clz-packages-comp{ display: block; }
.clz-toolbox.clz-show-layouts > .clz-layouts-comp{ display: block; }
.clz-toolbox.clz-show-layouts > .clz-layouts-comp{ display: block; }
.clz-toolbox.clz-show-setting > .clz-setting-comp{ display: block; }
.clz-toolbox.clz-show-setting > .clz-setting-comp{ display: block; }
.clz-toolbox .clz-modules{
  padding: 20px 0px;
}
.clz-module-box{
  width: 200px;
  cursor: pointer;
}
.clz-module-box > * > *{
  background: url(/assets/toolbox/toolbox-set-wide.png) repeat-x;
  width: 10px;
  height: 10px;
}
.clz-module-box .clz-top > .clz-left{
}
.clz-module-box .clz-top > .clz-main{
  background-position: 0px -28px;
  width: 180px;
}
.clz-module-box .clz-top > .clz-right{
  background-position: 0px -56px;
}
.clz-module-box > .clz-main{
  background: url(/assets/toolbox/box-left.png) repeat-y;
  height: 60px;
}
.clz-module-box > .clz-main .clz-inner{
  background: url(/assets/toolbox/box-right.png) right repeat-y;
  width: 180px;
  padding: 0px 10px;
  height: 60px;
  color: #fff;
  font-size: 12px;
}
.clz-module-box .clz-bottom > .clz-left{
  background-position: 0px -18px;
}
.clz-module-box > .clz-bottom > .clz-main{
  background-position: 0px -46px;
  width: 180px;
}
.clz-module-box .clz-bottom > .clz-right{
  background-position: 0px -74px;
}
.clz-module-box .clz-info{
  margin: 15px 3px 0px 5px;
  font-weight: bold;
}
.clz-module-box .clz-action{
  color: #2aaf14;
}
.clz-module-box .clz-action.clz-yellow{
  color: #DACA14;
}
.clz-scrollbar{
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  -moz-opacity:.70; 
  filter:alpha(opacity=70);
  opacity: 0.70;
  background: #777;
  width: 10px;
}
.clz-scrollbar .clz-handle{
  width: 10px;
  height: 40px;
  position: absolute;
  background: url(/assets/home/v-handle.png);
  cursor: pointer;
  top: 0px;
}


/*icons*/
.clz-module-icon{
  background: url("/assets/iconset.png") repeat scroll 0 0 transparent;
  height: 40px;
  width: 60px;
  margin-top: 10px;
  background-position: 0px -60px;
}
.clz-module-box:hover .clz-module-icon{
  height: 60px;
  width: 60px;
  margin-top: 0px;
  background-position: 0px 0px;
}
.clz-icon-sitebuilder{
  background-position: 0px -60px;
}
.clz-module-box:hover .clz-icon-sitebuilder{
  background-position: 0px 0px;
}
.clz-icon-infoform{
  background-position: -60px -60px;
}
.clz-module-box:hover .clz-icon-infoform{
  background-position: -60px 0px;
}
.clz-icon-content{
  background-position: -120px -60px;
}
.clz-module-box:hover .clz-icon-content{
  background-position: -120px 0px;
}
.clz-icon-locationmark{
  background-position: -240px -60px;
}
.clz-module-box:hover .clz-icon-locationmark{
  background-position: -240px 0px;
}
.clz-icon-blog{
  background-position: -300px -60px;
}
.clz-module-box:hover .clz-icon-blog{
  background-position: -300px 0px;
}
.clz-icon-gallery{
  background-position: -360px -60px;
}
.clz-module-box:hover .clz-icon-gallery{
  background-position: -360px 0px;
}
.clz-icon-postfilter{
  background-position: -420px -60px;
}
.clz-module-box:hover .clz-icon-postfilter{
  background-position: -420px 0px;
}
.clz-icon-youtube{
  background-position: -480px -60px;
}
.clz-module-box:hover .clz-icon-youtube{
  background-position: -480px 0px;
}

/*form*/
.clz-actions{
  text-align: right;
}
.clz-actions .clz-dbl-button{
  height: 30px;
}
.clz-actions .clz-dbl-button > *{
  background: url(/assets/toolbox/toolbox-set.png);
  height: 30px;
  width: 5px;
  font-size: 12px;
  color: #fff;
}
.clz-actions .clz-dbl-button .clz-left{
  background-position: 0px -450px;
}
.clz-actions .clz-dbl-button .clz-first{
  background-position: 0px -480px;
  padding: 0px 10px 0px 5px;
  width: auto;
  line-height: 28px;
  cursor: pointer;
}
.clz-actions .clz-dbl-button .clz-sep{
  background-position: 0px -510px;
}
.clz-actions .clz-dbl-button .clz-second{
  background-position: 0px -540px;
  padding: 0px 20px;
  width: auto;
  line-height: 28px;
  cursor: pointer;
}
.clz-actions .clz-dbl-button .clz-right{
  background-position: 0px -570px;
}

/*global*/
.clz-globalbox .clz-swing.clz-right{ display: none; }
.clz-globalbox.clz-at-left{ right: auto; left: 100px; }
.clz-globalbox.clz-at-left .clz-swing.clz-left{ display: none; }
.clz-globalbox.clz-at-left .clz-swing.clz-right{ 
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.clz-swing{
  background: url(/assets/toolbox/icon-set.png) -40px -80px;
  height: 23px;
  width: 6px;
  margin: 5px 5px;
  cursor: pointer;
}
/* setting */
.clz-box .clz-middle > .clz-left > .clz-system-setting{
  color: #bbb;
  padding: 25px 5px 40px;
  width: 195px;
}
.clz-system-setting a{
  color: #777;
}
/*blocks*/
.clz-module-shadow{
  border: #2384a8 1px dashed;
  height: 10px;
}
.clz-placeholder{
  background: #2384a8;
  height: 20px;
  width: 100%;
}
.cliiz-module{
  position: relative;
}
.cliiz-module .clz-editing{ display: none; cursor: move; }
.cliiz-module:hover .clz-editing,
body.clz-walkthrough .cliiz-module .clz-editing{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: #2384a8 2px solid;
}
.cliiz-module:hover .clz-editing .clz-menu,
body.clz-walkthrough .cliiz-module .clz-editing .clz-menu{
  position: absolute;
  background: #2384a8;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 24px;
}
.cliiz-module .clz-editing .clz-menu *,
.clz-walk .clz-setting{
  background: url(/assets/toolbox/icon-set.png) no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2px 2px;
}
.cliiz-module .clz-editing .clz-menu .clz-delete{
  background-position: -20px -80px;
}
.cliiz-module .clz-editing .clz-menu .clz-setting{
  background-position: -60px -80px;
}
.clz-walk .clz-setting{
  width: 21px;
  background-position: -59px -81px;
  background-color: #2384a8;
}

/*layouts*/
.clz-layouts{
  position: absolute;
  left: 0px;
  right: 10px;
  top: 0px;
}
.clz-layout{
  width: 120px;
  height: 120px;
  border: #222 2px solid;
  margin: 5px;
  cursor: pointer;
}
.clz-layout:hover {
  border-color: #888;
}

/*formbox*/
.clz-formbox h2,
.clz-formbox h3{
  font-size: 14px;
  font-family: arial, tahoma;
  font-weight: bold;
  color: #aaa;
}
.clz-formbox h2{
  font-size: 16px;
}
.clz-formbox .clz-field{
  margin: 10px 10px 10px 0px;
}
.clz-formbox .clz-field > * > *,
.clz-formbox .clz-field > .clz-main > .clz-button > *,
.clz-formbox .clz-field > .clz-block > * > * {
  background: url(/assets/toolbox/toolbox-set.png);
  width: 5px;
}
.clz-formbox .clz-field > .clz-label > *{
  height: 20px;
}
.clz-formbox .clz-field > .clz-label > .clz-left{
  background-position: 0px -90px;
}
.clz-formbox .clz-field > .clz-label > .clz-main{
  background-position: 0px -140px;
  width: auto;
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 10px 0px 5px;
}
.clz-formbox .clz-field > .clz-label > .clz-right{
  background-position: 0px -190px;
}
.clz-formbox .clz-field > .clz-main > *,
.clz-formbox .clz-field > .clz-main > .clz-button > * {
  height: 30px;
}
.clz-formbox .clz-field > .clz-main > .clz-left{
  background-position: 0px -110px;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input > *{
  background: url(/assets/toolbox/toolbox-set.png);
  width: 5px;
  height: 30px;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input > .clz-left{
  background-position: 0px -240px;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-left{
  background-position: 0px -360px;
}
.clz-formbox .clz-field > .clz-main > .clz-input,
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input > .clz-input{
  background-position: 0px -160px;
  width: 200px;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input{
  background-position: 0px -390px;
  font-size: 0px;
  width: auto;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input > .clz-label{
  font-size: 12px;
  background: none;
  width: auto;
  color: #999;
  line-height: 28px;
  padding: 0px 4px 0px 8px;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-input > .clz-input{
  width: auto;
}
.clz-formbox .clz-field > .clz-main > .clz-input input{
  width: 200px;
  border: none;
  background: none;
  height: 30px;
  line-height: 28px;
  color: #333;
  font-size: 13px;
}
.clz-formbox .clz-field > .clz-main > .clz-input > .clz-input input{
  width: 60px;
}
.clz-formbox .clz-field > .clz-main > .clz-right,
.clz-formbox .clz-field > .clz-main > .clz-input > .clz-right{
  background-position: 0px -210px;
}
.clz-formbox .clz-field.clz-disabled > .clz-main > .clz-right{
  background-position: 0px -420px;
}
.clz-formbox .clz-field > .clz-main > .clz-button {
  background: none;
  width: auto;
  cursor: pointer;
}
.clz-formbox .clz-field > .clz-main > .clz-button > .clz-left {
  background-position: 0px -270px;
}
.clz-formbox .clz-field > .clz-main > .clz-button > .clz-main {
  background-position: 0px -300px;
  height: 30px;
  line-height: 28px;
  color: #fff;
  padding: 0px 9px 0px 6px;
  width: auto;
}
.clz-formbox .clz-field > .clz-main > .clz-button > .clz-right {
  background-position: 0px -330px;
}
.clz-formbox .clz-field > .clz-block{
  background: none;
  width: 750px;
}
.clz-formbox .clz-field > .clz-block > * {
  background: none;
  width: auto;
}
.clz-formbox .clz-field > .clz-block > *,
.clz-formbox .clz-field > .clz-block > * > * {
  height: 5px;;
}
.clz-formbox .clz-field > .clz-block > .clz-top > .clz-left {
  background-position: 0px -110px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-top > .clz-left {
  background-position: 0px -360px;
}
.clz-formbox .clz-field > .clz-block > .clz-top > .clz-main {
  background-position: 0px -160px;
  width: 740px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-top > .clz-main {
  background-position: 0px -390px;
}
.clz-formbox .clz-field > .clz-block > .clz-top > .clz-right {
  background-position: 0px -210px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-top > .clz-right {
  background-position: 0px -420px;
}
.clz-formbox .clz-field > .clz-block > .clz-middle{
  background: #fff url(/assets/toolbox/inputbox-left.png) repeat-y;
  width: 750px;
  height: auto;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-middle{
  background: #2d2d2d url(/assets/toolbox/inputblock-left.png) repeat-y;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main{
  background: url(/assets/toolbox/inputbox-right.png) right repeat-y;
  width: 740px;
  height: auto;
  padding: 10px 5px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-middle > .clz-main{
  background: url(/assets/toolbox/inputblock-right.png) right repeat-y;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main textarea{
  width: 720px;
  height: 300px;
  background: none;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main .wysiwyg{
  border: none;
  margin: auto;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main .clz-option{
  width: 230px;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main .clz-option *{
  vertical-align: middle;
}
.clz-formbox .clz-field > .clz-block > .clz-bottom > .clz-left {
  background-position: 0px -135px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-bottom > .clz-left {
  background-position: 0px -385px;
}
.clz-formbox .clz-field > .clz-block > .clz-bottom > .clz-main {
  background-position: 0px -185px;
  width: 740px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-bottom > .clz-main {
  background-position: 0px -415px;
}
.clz-formbox .clz-field > .clz-block > .clz-bottom > .clz-right {
  background-position: 0px -235px;
}
.clz-formbox .clz-field.clz-disabled > .clz-block > .clz-bottom > .clz-right {
  background-position: 0px -445px;
}
.clz-formbox .clz-field.clz-tiny > .clz-main > .clz-input{ width: 100px; }
.clz-formbox .clz-field.clz-tiny > .clz-main > .clz-input input{ width: 100px; }

.clz-formbox .clz-field.clz-510 > .clz-block,
.clz-formbox .clz-field.clz-510 > .clz-block > .clz-middle{ width: 510px; }
.clz-formbox .clz-field.clz-510 > .clz-block > .clz-top > .clz-main,
.clz-formbox .clz-field.clz-510 > .clz-block > .clz-bottom > .clz-main,
.clz-formbox .clz-field.clz-510 > .clz-block > .clz-middle > .clz-main{ width: 500px; }

.clz-formbox .clz-field .clz-crumb {
  color: #eee;
  cursor: pointer;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main.clz-file-browser,
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main.clz-gallery { 
  position: relative;
  height: 110px;
  overflow: hidden;
}
.clz-formbox .clz-field > .clz-block > .clz-middle > .clz-main.clz-gallery { 
  height: 130px;
}
.clz-file-browser .clz-scrollbar,
.clz-gallery .clz-scrollbar{
  right: 3px;
} 
.clz-file-browser .clz-files{ width: 730px; position: relative; }
.clz-gallery .clz-files{ width: 570px; position: relative; }
.clz-file-browser .clz-files> *{ 
  margin: 9px;
  cursor: move;
}
.clz-file-browser .clz-files > .fclz-folder,
.clz-file-browser .clz-files > .fclz-folderup{ 
  cursor: pointer;
  position: relative;
}
.clz-file-browser .clz-files > .fclz-folder div,
.clz-file-browser .clz-files > .fclz-folderup div{ 
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: #222;
  color: #aaa;
  padding: 5px 2px;
  display: none;
}
.clz-file-browser .clz-files > .fclz-folder:hover div,
.clz-file-browser .clz-files > .fclz-folderup:hover div{
  display: block;
}
.clz-gallery .clz-images{
  position: relative;
  width: 550px;
}
.clz-gallery .clz-album-image{
  width: 150px;
  height: 130px;
  border-right: #555 1px dashed;
  text-align: center;
  margin-right: 10px;
}
.clz-gallery .clz-album-image .clz-cover{
  border: transparent 1px solid;
  width: 100px;
  height: 100px;
  background: #222;
}
.clz-gallery .clz-album-image .clz-cover:hover {
  border: #6c6c6c 1px solid;
}
.clz-gallery .clz-add-album,
.clz-gallery .clz-image,
.clz-gallery .clz-file-shadow{
  margin: 6px;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: move;
  overflow: visible;
}
.clz-gallery .clz-file-shadow{
  border: #6c6c6c 1px dashed;
}
.clz-gallery .clz-image.clz-album{
  cursor: pointer;
}
.clz-gallery .clz-image img{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.clz-gallery .clz-add-album,
.clz-gallery .clz-image img{
  border: #6c6c6c 1px solid;
}
.clz-gallery .clz-image .clz-shadow{
  display: none;
}
.clz-gallery .clz-image.clz-album .clz-shadow{
  display: block;
  top: -4px;
  left: 4px;
  -moz-opacity:.70; 
  filter:alpha(opacity=70);
  opacity: 0.70;
}
.clz-gallery .clz-add-album:hover,
.clz-gallery .clz-image img:hover {
  border-color: #555;
}
.clz-gallery .clz-add-album{
  background: url(/assets/toolbox/add-album.jpg);
  cursor: pointer;
}
.clz-gallery .clz-image img{
  width: 50px;
  height: 50px;
}
.clz-gallery .clz-image .clz-extend{
  display: none;
}
.clz-gallery .clz-image:hover .clz-extend{
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  z-index: 1100004;
  width: 52px;
}
.clz-images.clz-sorting .clz-image:hover .clz-extend{
  display: none;
}
.clz-gallery .clz-image .clz-extend .clz-top{
  width: 62px;
  height: 62px;
  background: url(/assets/blocker-thick.png);
  margin-top: -5px;
  margin-left: -5px;
}
.clz-gallery .clz-image .clz-extend .clz-top .clz-delete{
  position: absolute;
  background: url(/assets/toolbox/icon-set.png) -90px -80px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -2px;
  left: -2px;
}
.clz-gallery .clz-image .clz-extend .clz-top img{
  margin: 0px;
}
.clz-gallery .clz-image .clz-extend input{
  width: 150px;
  border: #aaa 1px solid;
}
.clz-gallery .clz-image .clz-extend .clz-main{
  margin-left: -5px;
  padding: 20px 5px 10px;
  width: 300px;
  height: 30px;
  color: #eee;
  background: url(/assets/blocker-thick.png);
}

.clz-file{
  z-index: 10005;
  width: 50px;
  height: 50px;
  padding: 25px;
}
.clz-file img{
  width: 50px;
  height: 50px;
}
.clz-file-browser .clz-file,
.clz-file-browser .clz-file img{
  width: 100px;
  height: 100px;
  padding: 0px;
}

/*walk through*/
body.clz-walkthrough{
  overflow: hidden;
}
.clz-walk{ z-index: 15000; }
.clz-walk .clz-walktru{
  position: absolute;
  background: #aaa;
  -moz-opacity:.60; 
  filter:alpha(opacity=60);
  opacity: 0.60;
  z-index: 15001;
}
.clz-walk .clz-tooltip{
  width: 260px;
  position: absolute;
  background: #fff;
  right: -225px;
  top: 0px;
  left: 10px;
  border: #aaa 1px solid;
  font-size: 12px;
  padding: 3px 4px;
  z-index: 15002;
}
.clz-walk .clz-tooltip .clz-arrow{
  border: transparent 10px solid;
  border-right: #fff 8px solid;
  width: 0px;
  height: 0px;
  position: absolute;
  left: -18px;
  top: 9px;
}
.clz-walk .clz-tooltip .clz-arrow.clz-shadow{
  border-right: #aaa 8px solid;
  left: -19px;
}
.clz-walk .clz-tooltip .clz-content{
  line-height: 14px;
  padding: 4px 1px;
  font-weight: normal;
  color: #666;
}
.clz-walk .clz-tooltip,
.clz-walk .clz-tooltip .clz-step{ display: none; }
.clz-walk .clz-tooltip .clz-step h5{
  color: #555;
  background: #ddd;
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 5px;
  padding: 5px;
}
.clz-walk .clz-tooltip .clz-step p{
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #666;
}
.clz-walk .clz-tooltip .clz-step p img{ vertical-align: middle; }
.clz-walk .clz-tooltip .clz-step .clz-actions{ text-align: right; margin-top: 7px; font-size: 0px; }
.clz-walk .clz-tooltip .clz-step a{
  padding: 2px 6px;
  color: #fff;
  margin-right: 2px;
  font-size: 11px;
  cursor: pointer;
}
.clz-walk .clz-tooltip .clz-step a.clz-next{
  background: #1F881A;
  border: #1A5E16 1px solid;
}
.clz-walk .clz-tooltip .clz-step a.clz-skip{
  background: #65707C;
  border: #333C47 1px solid;
}
.clz-walk.clz-step1 .clz-walktru.clz-top{ 
  top: 0px;
  left: 0px;
  right: 0px;
  height: 75px;
}
.clz-walk.clz-step1 .clz-walktru.clz-left{
  top: 75px;
  left: 0px;
  width: 95px;
  height: 100%;
} 
.clz-walk.clz-step1 .clz-walktru.clz-right{
  top: 75px;
  left: 318px;
  right: 0px;
  height: 100%;
}
.clz-walk.clz-step1 .clz-walktru.clz-bottom{
  top: 175px;
  left: 95px;
  width: 223px;
  height: 100%;
}
.clz-walk.clz-step1 .clz-tooltip{ display: block; left: 325px; top: 105px; }
.clz-walk.clz-step1 .clz-tooltip .clz-step1{ display: block; }

.clz-walk.clz-step2{ top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent; position: fixed; }
.clz-walk.clz-step2 .clz-walktru.clz-top{ 
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
}
.clz-walk.clz-step2 .clz-walktru.clz-left{
  top: 0px;
  left: 0px;
  width: 95px;
  height: 100%;
} 
.clz-walk.clz-step2 .clz-walktru.clz-right{
  top: 0px;
  left: 318px;
  right: 0px;
  height: 100%;
}
.clz-walk.clz-step2 .clz-walktru.clz-bottom{
  top: 45px;
  left: 95px;
  width: 223px;
  height: 100%;
}
.clz-walk.clz-step2 .clz-tooltip{ display: block; left: 325px; top: 5px; }
.clz-walk.clz-step2 .clz-tooltip .clz-step2{ display: block; }

.clz-walk.clz-step3 .clz-walktru.clz-top{ 
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
}
.clz-walk.clz-step3{ top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent; position: fixed; }
.clz-walk.clz-step3 .clz-walktru.clz-left{
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
} 
.clz-walk.clz-step3 .clz-walktru.clz-right{
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}
.clz-walk.clz-step3 .clz-walktru.clz-bottom{
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
}
.clz-walk.clz-step3 .clz-tooltip{ display: block; }
.clz-walk.clz-step3 .clz-tooltip .clz-step3{ display: block; }
.clz-walk.clz-step3 .clz-tooltip .clz-arrow{
  border: transparent 10px solid;
  border-top: #fff 8px solid;
  left: auto;
  top: auto;
  right: 5px;
  bottom: -18px;
}
.clz-walk.clz-step3 .clz-tooltip .clz-arrow.clz-shadow{
  border-top: #aaa 8px solid;
  left: auto;
  bottom: -19px;
}

.clz-walk.clz-step4 .clz-walktru.clz-top{ 
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0px;
}
.clz-walk.clz-step4{ top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent; position: fixed; }
.clz-walk.clz-step4 .clz-walktru.clz-left{
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
} 
.clz-walk.clz-step4 .clz-walktru.clz-right{
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
}
.clz-walk.clz-step4 .clz-walktru.clz-bottom{
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
}
.clz-walk.clz-step4 .clz-tooltip{ display: block; }
.clz-walk.clz-step4 .clz-tooltip .clz-step4{ display: block; }
.clz-walk.clz-step4 .clz-tooltip .clz-arrow{
  border: transparent 10px solid;
  border-top: #fff 8px solid;
  left: auto;
  top: auto;
  right: 5px;
  bottom: -18px;
}
.clz-walk.clz-step4 .clz-tooltip .clz-arrow.clz-shadow{
  border-top: #aaa 8px solid;
  left: auto;
  bottom: -19px;
}

/* others */
.clz-player{ background: #000 url(../assets/player.jpg) center center no-repeat; }
