/*refactored*/
.wizard .navigation *,
.wizard .info-bar *,
.wizard .list .main .item *,
.wizard .fastlogin *,
.wizard .module,
.wizard .module > *,
.wizard .module .icon,
.wizard .module .main div,
.wizard .selected-modules-list > *,
.wizard .selected-modules-list .item,
.wizard .layout,
.wizard .mini-menu > *,
.wizard .mini-menu .main *{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
/**/
.tooltip{
  z-index: 5010;
  color: #fff;
}
.tooltip .close{
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  color: #0387b9;
  background: url(/assets/wizard/tooltip-close.jpg) no-repeat;
  width: 10px;
  height: 10px;
}
.tooltip .close:hover {
  background-position: -10px 0px;
}
.tooltip .arrow-border,
.tooltip .arrow{
  border: 10px transparent solid;
  border-left: #0387b9 10px solid;
  width: 0;
  height: 0;
  position: absolute;
  right: -20px;
  top: 10px;
}
.tooltip .arrow-border{
  border-left: #333 10px solid;
  right: -17px;
}
.tooltip.fromtop .arrow-border,
.tooltip.fromtop .arrow{
  border: 10px transparent solid;
  border-bottom: #0387b9 10px solid;
  top: -20px;
  right: 10px;
}
.tooltip.fromtop .arrow-border{
  border-bottom: #333 10px solid;
  top: -17px;
}
.tooltip.reverse .arrow-border,
.tooltip.reverse .arrow{
  border: 10px transparent solid;
  border-right: #0387b9 10px solid;
  top: 10px;
  left: -20px;
}
.tooltip.reverse .arrow-border{
  border-right: #333 10px solid;
  left: -17px;
}
.tooltip .tip{
  background: #333 url(/assets/wizard/tooltip-back.jpg) bottom no-repeat;
  border: 2px #0387b9 solid;
  width: 180px;
  padding: 15px 10px 20px;
}
.tooltip .tip b{
  color: #43A2E5;
}
.wizard{
  border: 2px #fff solid;
  background: url(/assets/wizard/wizard-back.png);
  width: 900px;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -300px;
  z-index: 10;
}
.wizard .top-menu{
  height: 58px;
  width: 728px;
  margin: 12px auto 10px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.wizard .top-menu .left{
  background: url(/assets/wizard/wizard-menu-left.png);
  height: 58px;
  width: 14px;
}
.wizard .top-menu .right{
  background: url(/assets/wizard/wizard-menu-right.png);
  height: 58px;
  width: 14px;
}
.wizard .top-menu .main{
  background: url(/assets/wizard/wizard-menu-rep.png);
  height: 58px;
  width: 700px;
  list-style: none;
}
.wizard .top-menu .left,
.wizard .top-menu .main,
.wizard .top-menu .right,
.wizard .top-menu .main li{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  cursor: default;
}
.wizard .top-menu .main li{
  width: 143px;
  padding: 25px 30px;
  margin-top: -10px;
  text-align: center;
}
.wizard .top-menu .main li.selected{
  background: url(/assets/wizard/wizard-menu-selected.png) no-repeat;
  height: 78px;
  color: #23700f;
}
.wizard .top-menu .close{
  background: url(/assets/wizard/close.png) no-repeat;
  width: 29px;
  height: 29px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.wizard .top-menu .close:hover {
  background-position: -29px 0px;
}
.wizard .info-bar{
  height: 50px;
  width: 318px;
  position: absolute;
  bottom: 100px;
  left: -80px;
  z-index: 10;
}
.wizard .info-bar .left{
  background: url(/assets/wizard/info-bar-left.png) no-repeat;
  height: 50px;
  width: 9px;
}
.wizard .info-bar .main{
  background: url(/assets/wizard/info-bar-rep.png) repeat-x;
  height: 50px;
  width: 300px;
}
.wizard .info-bar .right{
  background: url(/assets/wizard/info-bar-right.png) no-repeat;
  height: 50px;
  width: 9px;
}
.wizard .info-bar .main img{
  margin: 8px 18px 0px 22px;
}
.wizard .info-bar .main span{
  margin: 16px 9px;
  font-size: 14px;
  color: #054D5F;
}
.wizard .navigation{
  width: 208px;
  height: 58px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.wizard .navigation *{
  cursor: pointer;
}
.wizard .prev-step{
  background: url(/assets/wizard/back-big.png) 0px -60px no-repeat;
  width: 76px;
  height: 58px;
}
.wizard .prev-step:hover {
  background-position: 0px 0px;
}
.wizard .next-step{
  background: url(/assets/wizard/next-big.png) 0px -60px no-repeat;
  width: 132px;
  height: 58px;
}
.wizard .next-step:hover {
  background-position: 0px 0px;
}
.wizard .paragraph{
  width: 600px;
  margin: 80px auto 0px;
}
.wizard .paragraph.margintop10{
  margin-top: 10px;
}
.wizard .paragraph .top{
  background: url(/assets/wizard/content-top.png);
  height: 14px;
}
.wizard .paragraph .inner{
  background: url(/assets/wizard/content-rep.png);
  padding: 0px 20px;
}
.wizard .paragraph .bottom{
  background: url(/assets/wizard/content-bottom.png);
  height: 14px;
}
.wizard .paragraph p{
  margin: 0px;
  padding: 5px 0px;
}
.wizard .paragraph form{
  padding: 5px 0px;
}
.wizard .basic-info{
  margin: 80px 230px;
}
.wizard .current-user{
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.wizard .current-user span{
  color: #0F7998;
  font-size: 22px;
}
.wizard .current-user div{
  color: #8B0909;
  font-size: 12px;
}
.wizard .current-user .continue{
  color: #333;
}
.wizard .current-user .or{
  color: #0F7998;
}
.wizard .fastlogin{
  color: #0F7998;
  margin-left: 15px;
  font-size: 13px;
}
.wizard .fastlogin *{
  vertical-align: middle;
  padding: 3px;
}
.wizard .fastlogin a{
  color: #fff;
  padding: 3px 5px;
  background: #0F7998;
  font-weight: bold;
  cursor: pointer;
}
.wizard .fastlogin a:hover {
  background: #0E657B;
}
.wizard .input{
  height: 58px;
  width: 286px;
  position: relative;
}
.wizard .input > .left,
.wizard .input > .main,
.wizard .input > .right{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  z-index: 1;
}
.wizard .input > .left{
  background: url(/assets/wizard/wizard-input-left.png) no-repeat;
  height: 58px;
  width: 18px;
}
.wizard .input > .main{
  background: url(/assets/wizard/wizard-input-rep.png) repeat-x;
  height: 58px;
  width: 250px;
}
.wizard .input > .right{
  background: url(/assets/wizard/wizard-input-right.png) no-repeat;
  height: 58px;
  width: 18px;
}
.wizard .input > .main input,
.wizard .input > .main label{
  height: 34px;
  margin-top: 12px;
  padding: 0px;
  width: 250px;
  color: #222;
  border: none;
  font-size: 20px;
  background: none;
}
.wizard .input > .main label{
  color: #444;
  font-size: 20px;
  width: auto;
  position: absolute;
  left: 2px;
  top: 5px;
  cursor: text;
}
.wizard .input > .main label.focused{
  color: #999;
}
.wizard .input .hint{
  height: 42px;
  position: absolute;
  left: 280px;
  width: 257px;
  z-index: 0;
  top: 8px;
}
.wizard .input .hint .main,
.wizard .input .hint .message,
.wizard .input .hint .right{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.wizard .input .hint .main{
  width: 250px;
  height: 42px;
}
.wizard .input .hint .message{
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 34px 0px 7px;
}
.wizard .input .hint .error,
.wizard .input .hint .server-error,
.wizard .input .hint .correct,
.wizard .input .hint .info{
  display: none;
}
.wizard .input .hint.error .error{ display: inline; }
.wizard .input .hint.server-error .server-error{ display: inline; }
.wizard .input .hint.info .info{ display: inline; }
.wizard .input .hint.correct .correct{ display: inline; }
.wizard .input .hint .right{
  width: 7px;
  height: 42px;
}
.wizard .input .hint.error .main,
.wizard .input .hint.server-error .main{
  background: url(/assets/wizard/wizard-error-rep.png) repeat-x;
}
.wizard .input .hint.correct .main{
  background: url(/assets/wizard/wizard-correct-rep.png) repeat-x;
}
.wizard .input .hint.info .main{
  background: url(/assets/wizard/wizard-info-rep.png) repeat-x;
}
.wizard .input .hint.error .right,
.wizard .input .hint.server-error .right{
  background: url(/assets/wizard/wizard-error-right.png) no-repeat;
}
.wizard .input .hint.correct .right{
  background: url(/assets/wizard/wizard-correct-right.png) no-repeat;
}
.wizard .input .hint.info .right{
  background: url(/assets/wizard/wizard-info-right.png) no-repeat;
}
.wizard .input .icon{
  width: 34px;
  height: 34px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.wizard .input .hint.error .icon,
.wizard .input .hint.server-error .icon{
  background: url(/assets/wizard/wizard-error.png) no-repeat;
}
.wizard .input .hint.correct .icon{
  background: url(/assets/wizard/wizard-correct.png) no-repeat;
}
.wizard .input .hint.info .icon{
  background: url(/assets/wizard/wizard-info.png) no-repeat;
}
.wizard .input .hint a{
  color: #0A3C4C;
  cursor: pointer;
}
.wizard .site-url{
  margin: 2px 15px;
  color: #0f7998;
  font-size: 14px;
  font-weight: bold;
}
.wizard .site-url .sub{
  color: #333;
}
/*step 2, templates*/
.wizard .layouts{
  margin: 50px 20px;
}
.wizard .layout-list-mask{
  width: 810px;
  height: 360px;
  overflow: hidden;
  margin: auto;
  position: relative;
}
.wizard .layout-list{
  vertical-align: top;
  height: 360px;
  font-size: 0px;
  position: absolute;
}
.wizard .layout{
  width: 162px;
  height: 180px;
  position: relative;
}
.wizard .layout .frame{
  background: url(/assets/wizard/template-frame.png) no-repeat;
  height: 162px;
  width: 162px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.wizard .layout.selected .frame,
.wizard .layout:hover .frame{
  background-image: url(/assets/wizard/template-frame-selected.png);
}
.wizard .layout .info{
  background: url(/assets/wizard/template-info-bar.png) no-repeat;
  width: 78px;
  height: 24px;
  margin: -10px;
  position: absolute;
  left: 52px;
  z-index: 0;
  text-align: center;
  color: #16a7d1;
  font-weight: bold;
  padding-top: 7px;
}
.wizard .layout img{
  width: 120px;
  height: 120px;
  margin: 19px 21px;
}
.wizard .list{
}
.wizard .list h2{
  color: #234d5e;
  font-size: 18px;
  font-weight: bold;
  padding: 0px 0px 5px;
}
.wizard .list .top{
  background: url(/assets/wizard/list/top.png);
  width: 178px;
  height: 14px;
}
.wizard .list > .main{
  background: url(/assets/wizard/list/rep.png) repeat-y;
  width: 158px;
  padding: 0px 10px;
}
.wizard .list .item{
  cursor: pointer;
  margin: 2px auto 0px;
}
.wizard .list .item .left{
  background: url(/assets/wizard/list/item-left.png) no-repeat;
  width: 6px;
  height: 44px;
}
.wizard .list .item .main{
  background: url(/assets/wizard/list/item-rep.png) repeat-x;
  width: 145px;
  height: 34px;
  font-size: 18px;
  color: #222;
  line-height: 24px;
  padding-top: 10px;
}
.wizard .list .item .right{
  background: url(/assets/wizard/list/item-right.png) no-repeat;
  width: 6px;
  height: 44px;
}
.wizard .list .item.selected .main,
.wizard .list .item:hover .main{
  background: url(/assets/wizard/list/item-selected-rep.png) repeat-x;
  color: #c4e0ec;
}
.wizard .list .item.selected .left,
.wizard .list .item:hover .left{
  background: url(/assets/wizard/list/item-selected-left.png) no-repeat;
}
.wizard .list .item.selected .right,
.wizard .list .item:hover .right{
  background: url(/assets/wizard/list/item-selected-right.png) no-repeat;
}
.wizard .list .bottom{
  background: url(/assets/wizard/list/bottom.png);
  width: 178px;
  height: 14px;
}
.wizard .scrollbar{
  background: url(/assets/wizard/scroll-bar.png) repeat-x;
  width: 300px;
  height: 10px;
  margin: 10px auto auto;
  position: relative;
}
.wizard .scrollbar .handler{
  width: 68px;
  height: 39px;
  position: absolute;
  top: -15px;
  cursor: pointer;
  left: 0;
  margin-left: -34px;
}
.wizard .scrollbar .forward{
  background: url(/assets/wizard/scroll-bar-handle.png) -34px 0px no-repeat;
  width: 34px;
  height: 39px;
}
.wizard .scrollbar .backward{
  background: url(/assets/wizard/scroll-bar-handle.png) no-repeat;
  width: 34px;
  height: 39px;
}
.wizard .scrollbar .forward:hover {
  background-position: -34px -40px;
}
.wizard .scrollbar .backward:hover {
  background-position: 0px -40px;
}
/* modules */
.wizard .mini-menu{
  position: absolute;
  bottom: 15px;
  left: 40px;
  height: 39px;
}
.wizard .mini-menu .left{
  background: url(/assets/wizard/small-menu-left.png) no-repeat;
  height: 39px;
  width: 10px;
}
.wizard .mini-menu .main{
  background: url(/assets/wizard/small-menu-rep.png) repeat-x;
  font-size: 14px;
  height: 39px;
  font-weight: bold;
}
.wizard .mini-menu .main *{
  padding: 11px 5px 4px;
}
.wizard .mini-menu .main a{
  color: #58808f;
  cursor: pointer;
}
.wizard .mini-menu .main a.selected{
  background: url(/assets/wizard/small-indicator.jpg) center bottom no-repeat;
  color: #444;
  cursor: default;
}
.wizard .mini-menu .right{
  background: url(/assets/wizard/small-menu-right.png) no-repeat;
  height: 39px;
  width: 10px;
}
.wizard .modules-list{
  width: 700px;
  height: 122px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.wizard .modules-list-scroll{
  overflow: visible;
  position: relative;
}
.wizard .module{
  width: 332px;
  height: 122px;
  margin: 0px 8px;
  text-align: left;
}
.wizard .module .left{
  width: 16px;
  height: 122px;
  background: url(/assets/wizard/module/left.png) 0px -122px;
}
.wizard .module .main{
  width: 300px;
  height: 122px;
  position: relative;
  background: url(/assets/wizard/module/rep.png) 0px -122px;
}
.wizard .module .right{
  width: 16px;
  height: 122px;
  background: url(/assets/wizard/module/right.png) 0px -122px;
}
.wizard .module:hover .left,
.wizard .module:hover .main,
.wizard .module:hover .right{
  background-position: 0px 0px;
}
.wizard .module .info{
  width: 200px;
  margin: 20px 0px 0px 10px;
  cursor: default;
}
.wizard .module .icon{
  background: url(/assets/wizard/module/icon.png);
  width: 60px;
  height: 60px;
  padding: 2px;
  margin-top: 20px;
}
.wizard .module:hover .icon{
  background: url(/assets/wizard/module/icon-selected.png);
}
.wizard .module .main h2{
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  color: #000;
}
.wizard .module .main p{
  width: 220px;
  padding: 0px;
  margin: 0px;
}
.wizard .module .add{
  display: none;
  cursor: pointer;
}
.wizard .module.show-add .add,
.wizard .module:hover .add{
  display: block;
  width: 40px;
  height: 40px;
  background: url(/assets/wizard/module/add.png) -40px 0px;
  position: absolute;
  bottom: 15px;
  right: 0px;
}
.wizard .module:hover .add:hover {
  background-position: 0px 0px;
}
.wizard .module.added .add,
.wizard .module.added:hover .add:hover {
  background-position: -80px 0px;
}
.wizard .form{
  margin: 20px auto auto;
  width: 708px;
}
.wizard .form .top{
  width: 708px;
  height: 9px;
  background: url(/assets/wizard/form/top.png);
}
.wizard .form > .main{
  width: 708px;
  height: 260px;
  background: url(/assets/wizard/form/rep.png);
  position: relative;
  overflow: hidden;
}
.wizard .basic .form > .main{
  height: 412px;
}
.wizard .form > .main .content{
  height: 180px;
  width: 640px;
  margin: auto;
  overflow: auto;
  color: #fff;
}
.wizard .basic .form > .main .content{
  height: 390px;
  width: 660px;
  margin-top: 9px;
}
.wizard .form.blank{
  margin: 220px auto auto;
}
.wizard .form.blank > .main{
  height: 80px;
}
.wizard .form h2{
  color: #2594B3;
  margin: 0px;
  padding: 3px 0px;
  font-size: 16px;
}
.wizard .form h3{
  color: #329215;
  margin: 0px;
  padding: 3px 0px;
}
.wizard .basic .form h2,
.wizard .basic .form h3{
  padding: 10px 0px 3px;
}
.wizard .form b{
  color: #A6D3EF;
}
.wizard .form p{
  margin: 0px;
  padding: 2px 0px;
}
.wizard .form p a{
  color: #FDCE0A;
  cursor: pointer;
}
.wizard .modules .form .icon{
  margin: 0px;
}
.wizard .form hr{
  border: none;
  border-bottom: #888 1px dashed;
}
.wizard .form .bottom{
  width: 708px;
  height: 9px;
  background: url(/assets/wizard/form/bottom.png);
}
.wizard .selected-modules-list{
  width: 626px;
  margin: auto;
  position: absolute;
  bottom: 2px;
  left: 50%;
  margin-left: -313px;
}
.wizard .selected-modules-list .left{
  background: url(/assets/wizard/select-bar-left.png);
  width: 13px;
  height: 68px;
}
.wizard .selected-modules-list .main{
  background: url(/assets/wizard/select-bar-rep.png);
  width: 600px;
  height: 68px;
}
.wizard .selected-modules-list .main span{
  position: absolute;
  color: #999;
  display: block;
  margin: 25px 200px 0px;
  width: 200px;
  font-size: 18px;
  text-align: center;
}
.wizard .selected-modules-list .right{
  background: url(/assets/wizard/select-bar-right.png);
  width: 13px;
  height: 68px;
}
.wizard .selected-modules-list .item{
  width: 64px;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.wizard .selected-modules-list .item img{
  margin: 15px 12px;
}
.wizard .selected-modules-list .item:hover .delete{
  background: url(/assets/wizard/module/remove.png);
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.wizard .selected-modules-list .item:hover .delete:hover {
  background-position: -24px 0px;
}
.wizard .selected-modules-list .item.selected{
  background: url(/assets/wizard/select-bar-selected.png);
}

/* finished */
.wizard .finished{
}
.wizard .finished h2{
  font-size: 16px;
  padding-top: 8px;
}
.wizard .finished h3{
  font-size: 14px;
  padding-top: 15px;
}
.wizard .finished a{
  color: #0F7998;
  text-decoration: none;
}
.wizard .finished span.sub{
  color: #CA4238;
}
.wizard .finished .site-url{
  margin: 0px;
}

/* form content */
.sitebuilder-content .info{
  width: 530px;
  vertical-align: top;
}
.content-content textarea,
.basic textarea{
  width: 600px;
  height: 100px;
  display: block;
}
.content-content .wysiwyg{
  overflow: hidden;
  margin: 10px 0px 0px;
}
.content-content .wysiwyg *{
  outline: 0;
}
